@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,img,input,a,p,strong,em,i{margin:0;padding:0;border:0;list-style:none;font-family:"Microsoft YaHei"}
strong,b,em {font-weight:normal;font-style:normal}
img {border:0}
ul,dl{list-style:none}
a {color:#000;outline:none;cursor:pointer}
a:hover {color:#f00;text-decoration:underline}
/*--reset--*/
.hd {width:1200px;margin:0 auto}
.wh {width:100%;float:left}
.icon {background:url(../images/icon.png) no-repeat}
.more {font-family:KaiTi;font-weight:bold;font-size:12px;color:#000}
.more .icon {background-position:-18px -50px;width:8px;height:7px;float:left;margin-top:8px;margin-right:2px}
.more:hover .icon {background-position:-26px -50px}
.red {color:red}
/*--//End--common*/
.topbar {min-width:1200px;height:31px;background:#000}
.topbar .ul-item {float:right}
.topbar .ul-item li {float:left}
.topbar .ul-item li strong {line-height:31px;float:left;font-size:12px;color:#fff;font-family:FangSong}
.topbar .ul-item li a {line-height:31px;font-size:12px;color:#fff;font-family:FangSong;padding:0 20px;float:left}
.topbar .ul-item li a:hover {background:#333;text-decoration:none}
.topbar .ul-item li.cart {padding:0 38px;background:#333;position:relative}
.topbar .ul-item li.cart .icon {background-position:0 -50px;width:17px;height:13px;float:left;margin-top:8px;margin-right:10px}
.topbar .ul-item li.cart .tips {background:#900;height:16px;height:14px\9;padding:2px 8px;-webkit-border-radius:6px;position:absolute;top:0;left:116px;color:#fff;font-size:10px;-webkit-transform:scale(0.8);-moz-transform:scale(0.8);transform:scale(0.8)}
.topbar li.cart .tips em {height:12px;float:left;margin-top:-3px;margin-left:-1px;font-family:simsun}
.topbar .ul-item li.cart:hover {background:#fff}
.topbar .ul-item li.cart a:hover {background:none;color:#000}
.topbar .ul-item li.cart a:hover .icon {background-position:0 -63px}
.am-sticky-placeholder {background:#000;width:100%;float:left;position:relative;z-index:20}
/*--//End--topbar--*/
.header {min-width:1200px;border-bottom:3px #000 solid;background:#fff}
.header .logo {padding:15px 0;float:left}
.header .logo a {background-position:0 0;width:307px;height:50px;float:left}
.header .nav ul {float:right;margin-top:15px;margin-right:154px}
.header .nav li {float:left;line-height:68px;position:relative}
.header .nav li a {font-size:12px;color:#000;padding:0 30px;font-weight:bolder;font-family:FangSong;position:relative;z-index:5}
.header .nav li a:hover {color:#f00;text-decoration:underline}
.header .nav li a.cur {color:#f00}
.header .nav li .bgbor {border:1px #fff solid;border-bottom:none;background:#fff;width:112px;height:49px;position:absolute;top:16px;left:0;z-index:4}
.header .nav li.hover>.bgbor a:hover {color:#000;text-decoration:none}
.header .nav li.hover .bgbor {border:1px #000 solid;border-bottom:none;height:55px}
.header .nav-links {width:1158px;padding:30px 20px;border:1px #000 solid;position:absolute;top:70px;left:-648px;box-sizing:content-box;background:#fff;z-index:3;display:none}
.header .nav-links ul {width:105px;float:left;margin:0}
.header .nav-links li {width:100%;line-height:24px;float:left;font-family:FangSong;font-size:12px}
.header .nav-links li a {width:100%;float:left;padding:0;text-decoration:underline}
.header .nav-links li a:hover {color:#f00}
.header .nav-links .title {border-bottom:1px #b2b2b2 solid;color:#999;padding-bottom:5px;margin-bottom:5px}
/*--//End--header--*/
.focus {height:481px;position:relative}
.focus .slider-main {position:absolute;top:0;left:0;z-index:1}
.focus .slider-main li {width:100%;height:481px;position:absolute;top:0;left:0;display:none}
.focus .slider-main li img {width:1200px;height:481px}
.focus .slider-nav {position:absolute;bottom:25px;left:50%;margin-left:-20px;z-index:2}
.focus .slider-nav li {width:9px;height:9px;background:#cecfcf;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;float:left;margin:0 6px;cursor:pointer}
.focus .slider-nav li.active {background:#ce0203}
.master .focus {height:445px}
.master .focus .slider-main li {height:445px}
.master .focus .slider-main li img {width:1200px;height:445px}
.master .focus .slider-nav li {background:#fff;border:1px #fff solid}
.master .focus .slider-nav li.active {background:transparent}
.shop .focus {height:400px}
.shop .focus .slider-main li img {width:1200px;height:400px}
/*--//End--focus--*/
.box-hd .title {padding:30px 0;text-align:center;position:relative}
.box-hd .title h3 {width:20px;line-height:30px;font-family:FangSong;font-style:italic;display:inline-block;font-size:24px}
.box-hd .title .more {position:absolute;bottom:30px;right:40px}
.box-hd .title .more .icon {background-position:-34px -50px;width:10px;height:10px;margin-top:5px;margin-right:3px}
.box-hd .title .more:hover .icon {background-position:-44px -50px}
.box-hd .banner img {width:1200px}
.box-hd .list-pro li {width:50%;height:280px;float:left;margin-bottom:1px;position:relative;overflow:hidden}
.box-hd .list-pro li img {width:100%}
.box-hd .list-pro li strong {width:20px;line-height:20px;position:absolute;top:100px;font-family:FangSong;color:#fff;font-style:italic;font-weight:bolder;z-index:1}
.box-hd .list-pro li .price {position:absolute;font-family:FangSong;bottom:10px;color:#fff;z-index:2}
.box-hd .list-pro li .price em {font-size:12px}
.box-hd .list-pro li .price font {font-size:30px}
.box-hd .list-pro li.odd strong {right:30px}
.box-hd .list-pro li.even strong {left:30px}
.box-hd .list-pro li.odd {padding-right:1px}
.box-hd .list-pro li.odd .price {right:30px}
.box-hd .list-pro li.even .price {left:30px}
.box-hd .list-pro li:hover {opacity:0.6;filter:alpha(opacity=60)}
/*--//End--*/
.box-hd .list-pep {margin-bottom:70px;overflow:hidden}
.box-hd .list-pep ul {width:1260px;float:left}
.box-hd .list-pep li {width:186px;float:left;margin-right:17px;background:#fcfcfc;overflow:hidden}
.box-hd .list-pep li img {width:100%}
.box-hd .list-pep a:hover img {opacity:0.6;filter:alpha(opacity=60)}
.box-hd .list-pep p {width:166px;line-height:24px;padding:0 10px;font-size:12px;float:left;box-sizing:content-box}
.box-hd .list-pep strong {font-size:14px;padding:15px 0;float:right;font-weight:bold}
.box-hd .list-pep .more {float:right}
.master .box-hd .list-pep {margin-bottom:0}
.master .box-hd .list-pep .ul-item {border-bottom:1px #000 solid}
.master .box-hd .list-pep li {margin-bottom:100px}
/*--//End--box-hd--*/
.breadcrumb li, .breadcrumb a {font-family:"SimSun";font-size:12px;color:#999}
.breadcrumb .am-active {color:#000}
.breadcrumb .am-breadcrumb {margin:7px 0;padding:0}
.breadcrumb .am-breadcrumb > li + li:before {content:">\00a0";color:#000;font-size:12px}
/*--//End--breadcrumb--*/
.category .explain {width:100%;float:left;position:relative;background:#f2f2f2;overflow:hidden}
.category .explain .title {width:100px;float:left;margin-left:160px}
.category .explain .title p {line-height:30px;margin-bottom:30px}
.category .explain .title p .zh {width:30px;font-family:"SimSun";font-size:12px;color:#666;float:left}
.category .explain .title p .cn {font-size:24px;float:left}
.category .explain .info {width:840px;font-size:12px;float:left;margin-top:20px;line-height:24px}
.category .explain .more {position:absolute;bottom:5px;right:120px}
.category .explain .more .icon {margin-top:6px}
/*--//End--explain--*/
.category .list-pro {width:100%;float:left;overflow:hidden}
.category .list-pro .ul-item {width:1250px;float:left;overflow:hidden}
.category .list-pro .ul-item li {width:280px;float:left;margin-top:45px;padding-bottom:45px;border-bottom:1px #cdcdcd solid;margin-right:27px;position:relative}
.category .list-pro .ul-item li .tips {height:17px;line-height:17px;padding:0 5px;position:absolute;top:6px;left:0;z-index:2;background:#f00;font-family:SimSun;font-size:12px;color:#fff}
.category .list-pro .ul-item li .tips .icon {background-position:-128px -50px;width:5px;height:17px;position:absolute;top:0;right:-5px}
.category .list-pro .ul-item li .icon-r {position:absolute;top:4px;right:4px;z-index:4}
.category .list-pro .ul-item li .icon-r .icon {width:21px;height:20px;float:left;margin-left:5px}
.category .list-pro .ul-item li .icon-chengpin {background-position:-34px -96px}
.category .list-pro .ul-item li .icon-hand {background-position:-56px -96px}
.category .list-pro .ul-item li img {width:100%;height:225px;float:left;margin-bottom:16px;position:relative;z-index:1}
.category .list-pro .ul-item li p {text-align:right;color:#000;padding-right:20px}
.category .list-pro .ul-item li .name {font-size:16px;font-weight:bolder;height:25px}
.category .list-pro .ul-item li .price {font-size:12px;height:20px}
/*--//End--*/
.shop-header {padding:15px 0}
.shop-header .logo {float:left}
.shop-header .logo .img {float:left;margin:0 37px 0 23px}
.shop-header .logo .des {float:left}
.shop-header .logo .des h1 {line-height:30px;padding:12px 0;font-size:30px}
.shop-header .logo .des font {color:#999;font-size:12px;float:left;margin-right:20px}
.shop-header .btndes {float:right;margin-top:10px}
.shop-header .btndes a {width:202px;height:55px;line-height:55px;text-align:center;border:1px #000 solid;float:left;margin-left:-1px;font-size:16px}
.shop-header .btndes a:hover {background:#000;color:#fff;text-decoration:none}
/*--//End----*/
.shop-sort {background:#000;width:1200px;height:38px;line-height:38px;padding:3px 0;box-sizing:content-box;position:relative;z-index:2}
.shop-sort a {font-size:12px;float:left}
.shop-sort .link1 {padding:0 3px}
.shop-sort .link1 li {float:left}
.shop-sort .link1 li a {height:38px;line-height:38px;color:#fff;font-family:FangSong;padding:0 37px}
.shop-sort .link1 li a:hover {background:#fff;color:#000;text-decoration:none}
.shop-sort .link1 li.active a {background:#fff;color:#000}
.shop-sort .link2 {width:130px;text-align:center;float:right;margin-right:3px}
.shop-sort .link2 dt {width:130px;height:38px;text-align:center;font-size:12px;background:#fff;color:#000;float:left;cursor:pointer;font-family:FangSong}
.shop-sort .link2 dt .icon {background-position:-32px -60px;width:14px;height:8px;display:inline-block;position:relative;top:1px;margin-left:17px}
.shop-sort .link2 dt.active .icon {background-position:-18px -60px}
.shop-sort .link2 dd {background:#fff;width:130px;float:left;margin-top:0;margin-left:-1px;border:1px #000 solid;box-sizing:content-box}
.shop-sort .link2 dd a {width:104px;margin:0 12px;float:left;color:#000;box-sizing:content-box;border-bottom:1px #b3b3b3 solid;color:#999;font-family:FangSong;font-weight:bold}
.shop-sort .link2 dd a:last-child {border-bottom:0}
.shop-sort .link2 dd a.active {color:#000}
/*--End--shop-sort--*/
.explosion .details .img,.explosion .details .info {float:left}
.explosion .details .img {width:507px;height:403px;overflow:hidden}
.explosion .details .img img {width:507px;height:403px}
.explosion .details .info {width:660px;padding-top:27px;margin-left:33px;font-size:12px;position:relative}
.explosion .details .info h1 {font-size:24px}
.explosion .details .info .item {width:403px;padding-right:50px;box-sizing:content-box;float:left}
.explosion .details .info .p-img {position:absolute;top:27px;right:0}
.explosion .details .info .p-img img {width:205px;height:205px}
.explosion .details .info .p-text {color:#666;line-height:24px;margin:12px 0}
.explosion .details .info .p-price {font-size:30px;margin-bottom:10px}
.explosion .details .info .p-price em {font-size:14px}
.explosion .details .info .p-btn a {width:160px;height:36px;line-height:36px;text-align:center;border:1px #000 solid;box-sizing:content-box;float:left;font-size:12px}
.explosion .details .info .p-btn a:hover {text-decoration:none;background:#000;color:#fff}
.explosion .details .info .p-btn .cart {background:#000;color:#fff}
.explosion .details .info .p-btn .cart .icon {background-position:0 -50px;width:17px;height:13px;display:inline-block;margin-right:5px;top:2px;position:relative}
.explosion .details .info .master {margin-top:30px}
.explosion .details .info .master h2 {font-family:FangSong;font-size:12px}
.explosion .details .info .master ul {width:760px;float:left;margin-top:5px}
.explosion .details .info .master li {width:105px;height:85px;position:relative;margin-right:6px;float:left}
.explosion .details .info .master li img {width:105px;height:85px}
.explosion .details .info .master .mask {background:rgba(255, 255, 255, 0.7);width:100%;height:30px;line-height:30px;text-align:right;float:left}
.explosion .shop-sort {background:#fff;border:1px #000 solid}
.explosion .shop-sort .link1 li a {color:#000;font-weight:bold}
.explosion .shop-sort .link1 li a:hover {background:#000;color:#fff}
/*--End--explosion--*/
.pages .am-pagination>li {color:#000}
.pages .am-pagination>li a,.pages .am-pagination>li a:hover {background:none;border:0;border-bottom:1px #3f3f3f solid;padding:0;color:#000;cursor:pointer}
.pages .am-pagination>li.am-active a {border-bottom:0}
.pages .am-pagination>li a:hover {color:#f00}
.pages .am-pagination>li.default {}
.pages .am-pagination {margin:100px 0;float:right}
/*--End--pages--*/
.product-intro .am-breadcrumb {padding:8px 20px;margin-bottom:0;font-size:12px}
.product-intro .am-breadcrumb li {color:#000;font-family:simsun}
.product-intro .am-breadcrumb li a {color:#999;font-family:simsun}
.product-intro .am-breadcrumb>li+li:before {content:">";color:#000}
.product-intro .itemInfo {margin-top:20px;background:#fff}
.product-intro .itemInfo .preview {float:left;margin-left:20px;position:relative}
.product-intro .itemInfo .preview .slider-img {width:60px;float:left;margin-top:60px}
.product-intro .itemInfo .preview .slider-img li {margin-bottom:6px;cursor:pointer}
.product-intro .itemInfo .preview .slider-img li img {border:2px #ccc solid}
.product-intro .itemInfo .preview .slider-img li.active img {border:2px #000 solid}
.product-intro .itemInfo .preview .slider-main {width:800px;height:643px;float:left;margin:0 28px;background:#f6f6f6;overflow:hidden}
.product-intro .itemInfo .preview .slider-main li {width:100%;float:left;text-align:center}
.product-intro .itemInfo .preview .slider-main li img {width:auto;height:643px}
.product-intro .itemInfo .preview .collect {width:36px;position:absolute;top:16px;right:40px}
.product-intro .itemInfo .preview .collect .icon {background:url(../images/icon.png) no-repeat -244px -50px;width:32px;height:28px;float:left;margin-left:2px;margin-bottom:5px;cursor:pointer}
.product-intro .itemInfo .preview .collect .icon-active,
.product-intro .itemInfo .preview .collect .icon-active2 {background-position:0 -96px}
.product-intro .itemInfo .preview .collect span {width:36px;font-size:12px;float:left;text-align:center;display:none}
.product-intro .itemInfo .itme-ext {width:264px;float:left}
.product-intro .itemInfo .itme-ext .name {font-size:12px;margin-top:15px;margin-bottom:25px}
.product-intro .itemInfo .itme-ext .name strong {font-size:20px;font-weight:bold}
.product-intro .itemInfo .itme-ext .des {width:100%;float:left}
.product-intro .itemInfo .itme-ext .des .ul-list li {width:auto;line-height:24px;border:1px solid #000;margin-right:13px;margin-bottom:13px;font-size:12px;color:#666;float:left}
.product-intro .itemInfo .itme-ext .des .ul-list li a {display:block;padding:0 15px}
.product-intro .itemInfo .itme-ext .des .ul-list li a:hover {text-decoration:none;color:#000}
.product-intro .itemInfo .itme-ext .des .ul-list li:hover,
.product-intro .itemInfo .itme-ext .des .ul-list li.active {background:#000}
.product-intro .itemInfo .itme-ext .des .ul-list li:hover a,
.product-intro .itemInfo .itme-ext .des .ul-list li.active a {color:#fff}
.product-intro .itemInfo .itme-ext .des .ul-list li.no-active {border:1px solid #ccc}
.product-intro .itemInfo .itme-ext .des .ul-list li.no-active a {color:#ccc}
.product-intro .itemInfo .itme-ext .des .ul-list li.no-active:hover {background:#fff}
.product-intro .itemInfo .itme-ext .des .ul-list li.no-active:hover a {cursor:not-allowed}
.product-intro .itemInfo .itme-ext .amount {width:100%;float:left;font-size:14px}
.product-intro .itemInfo .itme-ext .amount .ipt {border:1px solid #000;border-right:0;float:left;position:relative}
.product-intro .itemInfo .itme-ext .amount .ipt .txt {width:80px;line-height:39px;padding:0 17px;float:left}
.product-intro .itemInfo .itme-ext .amount .ipt .ge {position:absolute;top:50%;margin-top:-11px;right:5px}
.product-intro .itemInfo .itme-ext .amount .btns {width:32px;height:41px;float:left;border:1px #000 solid;border-left:0}
.product-intro .itemInfo .itme-ext .amount .btns a {width:100%;line-height:19px;text-align:center;float:left;background:#000;color:#fff;border-left:1px solid #333}
.product-intro .itemInfo .itme-ext .amount .btns a.btn-add {border-bottom:1px #333 solid}
.product-intro .itemInfo .itme-ext .amount .btns a:hover {background:#fff;color:#000;text-decoration:none;border-left:1px solid #ccc}
.product-intro .itemInfo .price {width:100%;float:left;margin-top:28px;margin-bottom:57px;color:#666}
.product-intro .itemInfo .price .p-text {font-size:12px;font-family:simsun}
.product-intro .itemInfo .price .p-price {font-size:14px;color:#000}
.product-intro .itemInfo .price .p-price span {font-size:30px}
.product-intro .itemInfo .price .m-price {font-size:12px}
.product-intro .itemInfo .choose-btns .btn {width:272px;line-height:39px;text-align:center;border:1px #000 solid;float:left;margin-bottom:13px;font-family:FangSong;font-size:14px}
.product-intro .itemInfo .choose-btns .btn:hover,.product-intro .itemInfo .choose-btns .btn-append {text-decoration:none;background:#000;color:#fff}
.product-intro .itemInfo .jiathis_style {width:222px;padding-top:23px;padding-bottom:37px;padding-left:50px;float:left;border-bottom:1px #000 solid;box-sizing:content-box}
.product-intro .itemInfo .jiathis_style .jiathis_txt {font-family:simsun;color:#666}
.product-intro .itemInfo .jiathis_style .jtico {background:url(../images/icon-share.png) no-repeat;width:21px;height:21px!important;margin-left:5px;opacity:1;filter:alpha(opacity=100);-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s}
.product-intro .itemInfo .jiathis_style .jtico:hover {opacity:0.4;filter:alpha(opacity=40)}
.product-intro .itemInfo .jiathis_style .jtico_weixin {background-position:0 0}
.product-intro .itemInfo .jiathis_style .jtico_tqq {background-position:-21px 0;width:22px}
.product-intro .itemInfo .jiathis_style .jtico_tsina {background-position:-43px 0}
.product-intro .itemInfo .jiathis_style .jtico_cqq {background-position:-65px 0;width:22px}
.product-intro .tab-wrap {width:1200px;height:44px;line-height:44px;margin-top:33px;padding-left:170px;position:relative;border:1px #000 solid;background:#fff;z-index:999}
.product-intro .tab-wrap .jiathis_style {background:#7f7f7f;height:44px;float:left;padding:0 13px;position:absolute;top:-1px;left:-1px;border-right:1px #000 solid}
.product-intro .tab-wrap .jiathis_style .jtico {background:url(../images/icon-share.png) no-repeat;width:21px;height:21px!important;margin-left:5px;margin-top:10px}
.product-intro .tab-wrap .jiathis_style .jiathis_txt {line-height:44px!important;color:#fff;font-family:simsun}
.product-intro .tab-wrap .jiathis_style .jtico_weixin {background-position:0 -21px}
.product-intro .tab-wrap .jiathis_style .jtico_tqq {background-position:-21px -21px;width:22px}
.product-intro .tab-wrap .jiathis_style .jtico_tsina {background-position:-43px -21px;width:22px}
.product-intro .tab-wrap .jiathis_style .jtico_cqq {background-position:-65px -21px;width:22px}
.product-intro .tab-wrap .jiathis_style a:hover .jtico_weixin {background-position:0 0}
.product-intro .tab-wrap .jiathis_style a:hover .jtico_tqq {background-position:-21px 0;width:22px}
.product-intro .tab-wrap .jiathis_style a:hover .jtico_tsina {background-position:-43px 0}
.product-intro .tab-wrap .jiathis_style a:hover .jtico_cqq {background-position:-65px 0;width:22px}
.product-intro .tab-wrap a:hover {text-decoration:none}
.product-intro .tab-wrap .tab-items {height:44px;float:left;padding-left:20px}
.product-intro .tab-wrap .tab-items li {float:left;padding:0 10px}
.product-intro .tab-wrap .tab-items li a {font-family:FangSong;font-size:14px}
.product-intro .tab-wrap .tab-items li .icon {background-position:-133px -50px;width:10px;height:20px;display:inline-block;position:relative;top:5px;margin-left:10px}
.product-intro .tab-wrap .btns {float:right}
.product-intro .tab-wrap .btns .append {background:#000;color:#fff;padding:0 70px;height:42px;float:right}
.product-intro .tab-wrap .btns .append .icon {background-position:-143px -50px;width:21px;height:16px;position:relative;top:3px;margin-left:0;margin-right:5px;display:inline-block}
.product-intro .tab-wrap .btns .buy {height:42px;padding:0 48px;float:right}
.product-intro .tab-wrap .btns .buy:hover {background:#000;color:#fff}
.product-intro .am-sticky-placeholder {background:none}
.product-intro .detail {padding-bottom:70px;position:relative}
.product-intro .detail .title {text-align:center;padding:30px 0}
.product-intro .detail .title h3 {width:20px;line-height:34px;font-family:FangSong;font-style:italic;display:inline-block;font-size:24px;font-weight:bold}
.product-intro .detail .part {width:1000px;padding:0 100px;font-family:simsun;font-size:12px;color:#666;float:left;box-sizing:content-box;border-bottom:1px #b2b2b2 solid}
.product-intro .detail .part p,.product-intro .detail .part li,.product-intro .detail .part h4,.product-intro .detail .part span,.product-intro .detail .part strong{font-family:simsun}
.product-intro .detail .part h4 {width:100%;float:left;margin-bottom:36px;font-weight:normal}
.product-intro .detail .part li {width:100%;line-height:24px;float:left}
.product-intro .detail .part p,.product-intro .detail .part h4 {padding:0 20px}
.product-intro .detail .spe1 li {padding:0 20px}
.product-intro .detail .spe1 span {float:left;word-wrap:break-word;word-break:normal}
.product-intro .detail .spe1 strong {width:84px;float:left;margin-right:120px}
.product-intro .detail .spe2 {margin-top:40px}
.product-intro .detail .spe2 li {margin-bottom:36px}
.product-intro .detail .spe3 li {margin-bottom:70px}
.product-intro .detail .spe4 h4 {margin-top:70px}
.product-intro .detail .feeling {width:100%;padding-bottom:70px;float:left}
.product-intro .detail .feeling .info {width:694px;border:5px #999 solid;float:left;padding:30px 55px;margin:0 93px;;box-sizing:content-box;font-family:simsun;font-size:12px;color:#666}
.product-intro .detail .feeling .info p {font-family:simsun}
.product-intro .detail .feeling .info .tbar .icon {background-position:-164px -50px;width:17px;height:15px;display:inline-block;position:relative;top:4px;margin-right:5px}
.product-intro .detail .feeling .info .txt p {width:100%;float:left;margin-bottom:35px}
.product-intro .online-ask {width:114px;height:45px;position:absolute;bottom:0;right:0;text-align:center;border:1px #000 solid;border-bottom:0;box-sizing:content-box}
.product-intro .online-ask .btn {width:114px;height:45px;line-height:45px;background:#000;color:#fff;float:left;font-size:14px}
.product-intro .online-ask .btn .icon {background-position:-181px -50px;width:30px;height:24px;display:inline-block;position:relative;top:8px;margin-right:5px}
.product-intro .online-ask .btn:hover {text-decoration:none;background:#fff;color:#000}
.product-intro .online-ask .btn:hover .icon {background-position:-211px -50px}
.product-intro .search {margin:0 20px}
.product-intro .search .slider {width:220px;float:left}
.product-intro .search .slider .part-nav {border:1px solid #000;border-bottom:0;font-size:12px;margin-bottom:27px}
.product-intro .search .slider .part-nav h3 {width:100%;line-height:44px;font-size:16px;padding:0 20px;border-bottom:1px solid #000;float:left}
.product-intro .search .slider .part-nav .title {width:100%;line-height:40px;padding:0 20px;border-bottom:1px solid #000;float:left;font-weight:normal;font-family:simsun;position:relative}
.product-intro .search .slider .part-nav .title .icon {background-position:-77px -96px;width:15px;height:15px;display:inline-block;margin-right:5px;top:3px;position:relative}
.product-intro .search .slider .part-nav .title .icon-add {background-position:-92px -96px}
.product-intro .search .slider .part-nav .ul-list {padding:20px 0;border-bottom:1px solid #000;display:none}
.product-intro .search .slider .part-nav .ul-list li {width:100%;float:left;margin-bottom:10px;padding:0 20px 0 40px}
.product-intro .search .slider .part-nav dl dd {width:180px;line-height:30px;padding:0 20px;float:left;font-family:simsun}
.product-intro .search .slider .part-rank {border:1px solid #000;border-bottom:0}
.product-intro .search .slider .part-rank h3 {width:100%;line-height:44px;font-size:16px;padding:0 20px;border-bottom:1px solid #000;float:left}
.product-intro .search .slider .part-rank .ul-list li {padding:0 20px;border-bottom:1px solid #000;float:left}
.product-intro .search .slider .part-rank .ul-list li img {width:100%;float:left;margin-top:20px}
.product-intro .search .slider .part-rank .ul-list li a {color:#000}
.product-intro .search .slider .part-rank .ul-list li .info {width:100%;float:left}
.product-intro .search .slider .part-rank .ul-list li .info p {line-height:30px;font-family:simsun;font-size:12px;float:left}
.product-intro .search .slider .part-rank .ul-list li .info .txt {width:124px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.product-intro .search .slider .part-rank .ul-list li .info .price {float:right}
.product-intro .search .slider .part-rank .ul-list li .info .price span {color:#f00}
.product-intro .search .box-sort {width:900px;float:right}
.product-intro .search .box-sort .filter {width:100%;border:1px #000 solid;float:right}
.product-intro .search .box-sort .filter strong,.filter p,.filter a {font-family:"SimSun";font-size:12px;float:left;color:#000}
.product-intro .search .box-sort .filter li {float:left}
.product-intro .search .box-sort .filter-result {width:100%;padding:10px 0;border-bottom:1px #000 solid;float:left}
.product-intro .search .box-sort .filter-result li {color:#ff0000;border:1px #999 solid;height:18px;padding:6px 8px;margin-right:20px;overflow:hidden;box-sizing:content-box}
.product-intro .search .box-sort .filter-result li.title {height:32px;line-height:32px;padding:0 20px;border:0;margin-right:0}
.product-intro .search .box-sort .filter-result li .close {background-position:-54px -50px;width:10px;height:9px;float:left;margin-left:7px;margin-top:5px;cursor:pointer}
.product-intro .search .box-sort .filter-item {padding-left:23px;padding-top:26px;float:left}
.product-intro .search .box-sort .filter-item ul {width:100%;float:left}
.product-intro .search .box-sort .filter-item li {margin-right:20px;margin-bottom:20px}
.product-intro .search .box-sort .filter-item li.title {margin-right:0}
.product-intro .search .box-sort .filter-item li.title strong {color:#999}
.product-intro .search .box-sort .filter-item li .icon {background-position:-64px -50px;width:4px;height:7px;float:left;margin-top:5px;margin-right:10px}
.product-intro .search .box-sort .filter-item li a {color:#333}
.product-intro .search .box-sort .category .list-pro .ul-item {width:930px}
.product-intro .search .box-sort .category .list-pro .ul-item li {width:207px;margin-top:30px;margin-right:24px}
/*--End--product-intro--*/
.goods-rec-hd {width:1000px;padding:100px;box-sizing:content-box;border-bottom:2px #000 solid}
.goods-rec-hd .title {width:32px;float:left;position:relative}
.goods-rec-hd .title strong {line-height:26px;padding:15px 0;font-family:FangSong;font-style:italic;font-weight:bold;font-size:24px;float:left}
.goods-rec-hd .title .icon {width:8px;height:25px;position:absolute}
.goods-rec-hd .title .icon-l {background-position:-291px -50px;top:0;left:0}
.goods-rec-hd .title .icon-r {background-position:-299px -50px;bottom:0;right:0}
.goods-rec-hd .info {width:610px;float:left;margin-top:100px}
.goods-rec-hd .info p {line-height:24px;font-family:SimSun;font-size:12px}
.goods-rec-hd .info li {width:100%;float:left;margin-bottom:30px}
.goods-rec-hd .imgv {width:270px;overflow:hidden;display:inline-block}
.goods-rec-hd-left .info {margin-left:38px;margin-right:50px}
.goods-rec-hd-right .title {float:right}
.goods-rec-hd-right .info {float:right;margin-right:38px;margin-left:50px}
.goods-rec .category .ul-item {margin-bottom:220px}
.goods-rec .category .ul-item li {margin-top:100px}
/*--//End--detail-fine--*/
.login-wrap {width:920px;margin:70px 180px;float:left;font-size:12px}
.login-wrap .banner {float:left}
.login-form {width:300px;padding:34px;border:1px #ccc solid;float:right;box-sizing:content-box}
.login-form legend {border-bottom:0}
.login-form .mt {margin-bottom:30px}
.login-form .am-form h1 {font-size:18px;float:left}
.login-form .am-form .link {float:right;margin-top:5px}
.login-form .am-form .link a,.login-form .am-form .link p {font-size:12px;color:#999;float:left}
.login-form .am-form .link a:hover {color:#f00}
.login-form .am-form .link .reg {color:#036;text-decoration:underline}
.login-form .am-form .am-form-group {width:100%;float:left;margin-bottom:20px;position:relative}
.login-form .am-form .am-form-group .icon {height:18px;position:absolute;top:50%;margin-top:-9px;left:10px}
.login-form .am-form .am-form-group .txt-yzm {width:156px;float:left;margin-right:16px}
.login-form .am-form .am-form-group .btn-yzm {width:112px;height:36px;line-height:36px;text-align:center;border:1px #ccc solid;float:left;text-decoration:none;font-family:KaiTi}
.login-form .am-form .name {background-position:-68px -50px;width:18px}
.login-form .am-form .pwd {background-position:-87px -50px;width:14px;left:12px}
.login-form .am-form input[type=text],
.login-form .am-form input[type=password] {font-size:12px;padding:9px 0 9px 9px}
.login-form .am-form input[type=text]:focus,.login-form .am-form input[type=password]:focus {border:1px #000 solid;box-shadow:none}
.login-form .am-form label {color:#7b7b7b;font-weight:normal}
.login-form .am-form .checkbox {float:left}
.login-form .am-form .agree {font-size:12px;color:#036}
.login-form .am-form .forgetpwd {float:right;color:#036}
.login-form .am-form .forgetpwd:hover {color:#f00}
.login-form .msg-tips {position:absolute;top:34px;left:0}
.login-form .msg-tips .msg {color:#f00;font-size:10px;transform:scale(0.3)}
.login-form .msg-tips span a{color:#036}
.login-form .am-btn {background:#fff;width:100%;color:#000;border:1px #000 solid;font-family:FangSong;font-size:16px;margin-top:-20px}
.login-form .am-btn:hover {background:#000;color:#fff}
.login-form .coagent {margin-top:20px}
.login-form .coagent h5 {width:100%;color:#666;font-weight:normal;float:left;margin-bottom:15px}
.login-form .coagent .wechat {background-position:-102px -50px;width:26px;height:22px;float:left}
.login-form #username,.login-form #password {padding-left:35px}
.reg-form #username,.reg-form #password {padding-left:10px}
.thickframe {position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;border:0;display:none}
.thickframe .thickdiv {position:fixed;top:0;left:0;z-index:101;width:100%;height:100%;background:#000;border:0;filter:alpha(opacity =60);opacity:.6}
.thickframe .thickbox {width:1000px;height:500px;position:fixed;top:50%;margin-top:-250px;left:50%;margin-left:-500px;z-index:102;overflow:hidden;padding:0;border:4px solid rgba(0, 0, 0, 0.1);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#fff}
.thickframe .thicktitle {height:27px;padding:0 10px;border:solid #C4C4C4;border-width:1px 1px 0;background:#F3F3F3;line-height:27px;font-family:arial, "\5b8b\4f53";font-size:14px;font-weight:bold;color:#333}
.thickframe .thickcon {overflow:auto;background:#fff;border:solid #C4C4C4;border-width:1px;padding:10px}
.thickframe #protocol-con{height:356px;overflow:auto;padding:10px 20px 0 10px;font-size:12px}
.thickframe #protocol-con h3 {font-size:14px;line-height:40px}
.thickframe #protocol-con h4 {line-height:30px}
.thickframe #protocol-con p {line-height:20px}
.thickframe .thickcon .btnt{width:322px;margin:20px auto 0}
.thickframe .thickcon .btnt .btn-img{width:322px;height:34px;line-heiht:34px;background:#e4393c;color:#FFF;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-family:"微软雅黑";font-size:16px;font-weight:800}
.thickframe .thickclose:link {display:block;position:absolute;z-index:100000;top:7px;right:12px;overflow:hidden;width:15px;height:15px;background-position:-276px -50px;font-size:0;line-height:100px}
/*--//End--login-form--*/
.footer {border-top:3px #000 solid;font-size:12px}
.footer .icon {background:url(../images/footer-icon.png) no-repeat;display:inline-block}
.footer .service {padding:20px 0;text-align:center}
.footer .service .phone {background-position:0 0;width:225px;height:58px;position:relative;top:5px}
.footer .service .platform {background-position:0 -58px;width:143px;height:51px}
.footer .service .platform a {width:143px;height:51px;line-height:999px;float:left;overflow:hidden}
.footer .service .chengbao {background-position:0 -109px;width:100px;height:45px}
.footer .service .chengbao a {width:137px;height:61px;line-height:999px;float:left;overflow:hidden}
.footer .service .wechat {background-position:0 -155px;width:73px;height:53px;position:relative;top:5px}
.footer .service .line {width:2px;height:42px;display:inline-block;margin:0 30px;background:#c1c1c1}
.footer .links {background:#000;height:16px;line-height:16px;text-align:center;padding:15px 0}
.footer .links a {margin:0 10px;display:inline-block;box-sizing:content-box;color:#fff;font-family:FangSong}
.footer .links a.line {width:1px;height:10px;background:#b3b3b3;top:2px;position:relative}
.footer .links a:hover {color:#f00;text-decoration:underline}
.footer .copyright {background:#000;padding:15px 0;text-align:center}
.footer .copyright .phone strong,
.footer .copyright .phone em {font-style:italic;font-weight:bold;letter-spacing:5px;font-size:12px;color:#666}
.footer .copyright .phone em {font-size:18px}
.footer .copyright .frlinks {margin:10px 0}
.footer .copyright .frlinks a {color:#666;margin:0 5px;display:inline-block}
.footer .copyright .frlinks span,.footer .copyright .info {color:#666}
/*--//End--footer*/
a,
.ul-item li,
.ul-item li img,
.imgfilter {-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s}
.imgfilter:hover {opacity:0.6;filter:alpha(opacity=60)}
.more:hover,
.footer .copyright .frlinks a:hover,
.shop-sort .link2 dd a:hover{color:#f00;text-decoration:underline}
/*--//End--transition*/
.topbar-fine {position:fixed;top:0;left:0;z-index:50}
.header-fine {position:fixed;top:31px;left:0;height:57px;z-index:5}
.header-fine .logo {padding:10px 0}
.header-fine .logo a {background:url(../images/logo2.png);width:225px;height:37px;float:left}
.header-fine .nav {height:57px;float:right;position:relative}
.header-fine .nav .icon {background-position:0 -78px;width:28px;height:15px;position:absolute;bottom:13px;right:40px}
.header-fine .nav .nav-icon-active {width:48px; right:20px;}
.header-fine .nav .nav-icon-active .icon {background-position:-212px -95px;width:5px; height: 15px; position: absolute; top:0; right:0;}
.header-fine .nav-links {top:30px;left:-1138px;z-index:50;border:0;background:#fff}
.header-fine .nav li.hover .bgbor {width:140px;border:0;border-top:1px #000 solid;top:0}
/*--//End--*/
#menu-fine {}
#menu-fine-list {width:100%;height:100%;position: fixed;top:86px; left: 0; opacity:0; z-index:0;overflow: hidden;}
#menu-fine-list .hd {height:100%;position: relative;overflow: hidden;}
#menu-fine-list a {float:right; font-family:FangSong; font-size: 12px;}
#menu-fine-list .ul-list {width:140px;height:100%;padding-top:40px;position:absolute;top:0; right: 0;margin:0;background:#fff; z-index: 2;}
#menu-fine-list .ul-list li {width:100%;line-height:30px;float:left;box-sizing: content-box}
#menu-fine-list .ul-list li a {padding-right:40px;}
#menu-fine-list .ul-list li.active { border-top: 1px solid #fff;}
#menu-fine-list .ul-list li.active:hover {border-top:1px solid #000}
#menu-fine-list .nav-links {padding:37px 198px 30px 53px;position: absolute;top:100px;right:0;z-index:50;border:0;background:#fff;}
#menu-fine-list .nav-links ul { width:100px;float:left;}
#menu-fine-list .nav-links li {width:100%;float: left}
#menu-fine-list .nav-links li.title { padding-bottom: 15px; margin-bottom: 15px;font-family: FangSong; color: #999; font-size: 12px; border-bottom: 1px solid #ccc}
#menu-fine-list .nav-links li a { float: left; line-height:30px;}
#menu-fine-list .mask {width:100%;height:100%; position: absolute;top:0; left:0; z-index: 1; background:rgba(0, 0, 0, 0.6);}
/*--//End--*/
.nav-share {width:1200px;position:fixed;top:88px;left:50%;margin-left:-600px;z-index:2}
.nav-share .share {position:absolute;top:0;left:0}
.nav-share .jiathis_style {width:200px;position:absolute;top:15px;left:13px}
.nav-share .jiathis_style .jiathis_txt {font-family:simsun;color:#666;float:left;font-size:12px;color:#fff}
.nav-share .jiathis_style .jtico {background:url(../images/icon-share.png) no-repeat;width:21px;height:21px!important;margin-left:5px;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s;float:left}
.nav-share .jiathis_style .jtico:hover {opacity:0.5;filter:alpha(opacity=50);}
.nav-share .jiathis_style .jtico_weixin {background-position:0 -21px}
.nav-share .jiathis_style .jtico_tqq {background-position:-21px -21px;width:22px}
.nav-share .jiathis_style .jtico_tsina {background-position:-43px -21px}
.nav-share .jiathis_style .jtico_cqq {background-position:-65px -21px;width:22px}
.nav-share .nav {position:absolute;top:20px;right:20px}
.nav-share .nav li {float:left;margin:0 10px}
.nav-share .nav a {width:18px;padding:8px 0;color:#fff;font-size:14px;font-family:FangSong;float:left;font-style:italic;position:relative}
.nav-share .nav a:hover {text-decoration:none}
.nav-share .nav li .icon {width:14px;height:7px;position:absolute;left:2px;display:none}
.nav-share .nav li .icon-top {background-position:-107px -96px;top:0}
.nav-share .nav li .icon-down {background-position:-107px -104px;bottom:0}
.nav-share .nav li.active .icon {display:block}
.nav-share .nav li .line {width:1px;height:34px;background:#fff;margin-top:14px;float:left;position:relative;left:10px}
.nav-share .nav2 a {color:#000}
.nav-share .nav2 li .line {background:#000}
.nav-share .nav2 li .icon-top {background-position:-177px -95px}
.nav-share .nav2 li .icon-down {background-position:-177px -103px}
.nav-share .nav3 a {color:#000}
.nav-share .nav3 li .line {background:#000}
/*--//ENd--*/
.section {width:100%;min-width:1200px;height:100%;min-height:720px;position:relative;display:block;z-index:1;padding-top:88px;box-sizing:border-box;}
.section .hd {height:100%;position:relative;}
.section .img-bg {width:100%;height:100%;position:absolute;top:0;left:0;z-index:0;overflow:hidden}
.section .img-bg img {height:100%;position:absolute;top:0;left:50%;margin-left:-640px;}
.section .btn-arrow-down {width:32px;height:15px;position:absolute;bottom:20px;left:50%;margin-left:-16px;z-index:10}
.section .btn-arrow-down .icon {background-position:-40px -68px;-webkit-animation:arrowGo 1s infinite linear;width:32px;height:15px;float:left}
.section .collect {width:36px;position:absolute;top:13px;right:25px;z-index:3;text-align:center}
.section .collect .icon {background-position:-145px -95px;width:32px;height:28px;display:inline-block}
.section .collect em {width:100%;color:#fff;font-size:12px;float:left}
.section .sec-right,
.section .sec-left {width:50%;height:100%;float:right;position:relative;overflow:hidden; z-index: 2;}
.section .sec-left {float:left}
.section .sec-right .sec-right-top {width:100%;height:50%; float: left; position: relative;}
.section .sec-right .name {width:30px;line-height:20px;font-style:italic;position:absolute;top:40px;left:30px;font-size:18px;color:#000}
.section .sec-right .username {width:30px;line-height:20px;font-style:italic;position:absolute;bottom:53px;left:30px;font-size:18px;color:#000}
.section .sec-right .info-tab {width:300px;position:absolute;top:360px;left:50%;margin-left:-150px;text-align:center;display:none}
.section .sec-right .info-tab p {font-size:12px;line-height:24px}
.section .btns {width:100%;height:38px;position:absolute;bottom:53px;right:0;z-index:3}
.section .btns-link {width:212px;line-height:36px;text-align:center;font-family:FangSong;font-size:14px;position:absolute;bottom:0;left:50%;margin-left:-106px}
.section .btns-link:hover {text-decoration:none}
.section .btns-collect {color:#fff;background:#000;border:1px #fff solid}
.section .btns-collect:hover,
.section .btns-collect.active{border:1px solid #fff;background:#fff;color:#000}
/*--------*/
.section0 {width:100%;height:100%;float:left;position: relative;overflow: hidden;}
.section0 .sec-right {z-index:2;color:#fff}
.section0 .sec-right .title {position:absolute;top:50%; margin-top:-90px;right:40px}
.section0 .sec-right .title p {width:12px;line-height:18px;float:right;margin-left:5px;font-size:12px;font-style:italic}
.section0 .sec-right .name {width:200px;text-align:right;position:absolute;left:auto;right:40px;top:50%; margin-top:-10px;color:#fff}
.section0 .sec-right .name2 {position:absolute;top:50%;margin-top:-90px;right:310px}
.section0 .sec-right .name2 p {width: 34px;line-height: 29px;float: right;font-size: 24px;font-style: italic;height:202px; overflow: hidden;}
/*--//End--section0--*/
.section1 {width:100%;height:100%;float: left;position: relative; overflow: hidden;}
.section1 .icon-close {background-position:-122px -95px;width:22px;height:22px;position:absolute;top:20px;right:20px;cursor:pointer}
.section1 .mask {background:url(../images/section1-bg.png) repeat;width:100%;height:100%; position: absolute;top:0; left: 0; z-index: 1;}
.section1 .sec-left {background: #fff;}
.section1 .sec-left .part {width:494px;float:left; margin:40px 70px 0 36px;}
.section1 .sec-left .part .title {width:100%;font-family:FangSong;font-size:12px;font-weight:bold;float:left;margin-bottom:25px}
.section1 .sec-left .part .ul-info {width:100%; padding-bottom: 40px;float:left;border-bottom:1px solid #e5e5e5}
.section1 .sec-left .part .ul-info li,
.section1 .sec-left .part .ul-info li span,
.section1 .sec-left .part .ul-info li strong {font-size:12px;font-family:FangSong;line-height:22px;color:#333}
.section1 .sec-left .part .ul-info li {width:100%;float:left;}
.section1 .sec-left .part .ul-info2 {border-bottom:0}
.section1 .sec-left .part .ul-info2 li { margin-bottom:30px;}
/*--//End--section1--*/
.section2 {width:100%;height:100%; float: left;}
.section2 .sec-left {background:#000}
.section2 .sec-left .sec-focus {width:100%;height:100%;position:relative;float:left}
.section2 .sec-left .sec-focus .ul-img {width:100%;height:100%;position:absolute;top:0;left:0;z-index:1}
.section2 .sec-left .sec-focus .ul-img li {width:100%;position:absolute;top:0;left:0;float:left;text-align:center;display:none}
.section2 .sec-left .sec-focus .ul-img li img {height:720px}
.section2 .sec-left .sec-focus .ul-num {position:absolute;bottom:20px;left:20px;z-index:2}
.section2 .sec-left .sec-focus .ul-num li {width:18px;height:18px; line-height: 18px; text-align: center; color: #fff;background:#9aa1b8;border-radius:20px;float:left; margin-right:18px;cursor:pointer; font-size:14px; font-family:Times New Roman;}
.section2 .sec-left .sec-focus .ul-num li.active {background:#900;width:32px;height:32px; line-height:32px;font-size: 36px;}
.section2 .sec-left .sec-focus .ul-snum {width:19px;position:absolute;bottom:50px;left:20px;z-index:2;color:#fff}
.section2 .sec-left .sec-focus .ul-snum li {float:left}
.section2 .sec-left .sec-focus .ul-snum .icon-glass {background-position:-191px -94px;width:19px;height:17px;margin-bottom:10px}
.section2 .sec-left .sec-focus .ul-snum .t2 {font-size:16px;margin-left:3px}
.section2 .sec-right {background:#fff}
.section2 .btns-collect {color:#000;background:#fff;border:1px #000 solid}
.section2 .btns-collect:hover,
.section2 .btns-collect.active{border:1px solid #666;background:#fff;color:#000}
/*--//End--section2--*/
.section3 {background:url(../images/section3-bg.png) repeat;width:100%;height:100%; float: left; position: relative;}
.section3 .mask {background:url(../images/section3-bg.png) repeat;width:100%;height:100%; position: absolute;top:0; left: 0; z-index: 1;}
.section3 .sec-left .video-box {width:520px;height:334px;position:absolute;top:50%;margin-top:-167px;left:40px}
.section3 .sec-right .name,
.section3 .sec-right .username,
.section3 .sec-right .info-tab p{color:#fff}
.section3 .sec-right .btns .btn-collect {background:rgba(0, 0, 0, 0.8);width:212px;line-height:36px;border:1px solid #fff;text-align:center;color:#fff;position:absolute;bottom:53px;left:50%;margin-left:-106px;font-family:FangSong;font-size:14px}
.section3 .sec-right .btns .btn-collect:hover,
.section3 .sec-right .btns .btn-collect.active{text-decoration:none;background:#fff;color:#000}
.section3 .btns-collect {color:#fff;background:#000;border:1px #fff solid}
.section3 .btns-collect:hover,
.section3 .btns-collect.active{border:1px solid #000;background:#fff;color:#000}
/*--//End--section3--*/
.section4 {width:100%;height:100%;float:left; position:relative}
.section4 .img-bg { position: absolute;right:0;}
.section4 .img-bg img { right:0; margin-left: 0;}
.section4 .sec-left,
.section4 .sec-right {width:50%;height:100%;float:left;position:relative}
.section4 .sec-left {background:#fff;padding:70px 40px;font-size:12px}
.section4 .sec-left .title { font-family: FangSong; color: #000;}
.section4 .sec-left .des-txt li {margin-top:36px; }
.section4 .sec-left .des-txt li p {color:#999;font-family: FangSong;}
.section4 .btns-collect {color:#fff;background:#000;border:1px #fff solid}
.section4 .btns-collect:hover,
.section4 .btns-collect.active{border:1px solid #000;background:#fff;color:#000}
/*--//End--section4--*/
.section5 {width:100%;height:100%;background:#fff;float: left; position: relative; overflow: hidden;}
.section5 .part {background: #fff;width:100%;height:100%; position: absolute;top:0;}
.section5 .part1 { left: 0;}
.section5 .part1 .imgbox {position:absolute;top:70px;right:20px}
.section5 .part1 .sec-right-box {height:559px;position:absolute;top:70px;left:20px}
.section5 .part1 .sec-right-box .des-name {width:100%;font-size:12px;float:left}
.section5 .part1 .sec-right-box .des-name strong {font-size:18px}
.section5 .part1 .sec-right-box .des-part {width:100%;float:left;margin:36px 0}
.section5 .part1 .sec-right-box .des-part,
.section5 .part1 .sec-right-box .des-part span,
.section5 .part1 .sec-right-box .des-part strong {line-height:18px;font-size:12px;font-family:SimSun;color:#666}
.section5 .part1 .sec-right-box .price {width:100%;float:left;margin-top:28px;margin-bottom:57px;color:#666}
.section5 .part1 .sec-right-box .price .p-text {font-size:12px;font-family:simsun}
.section5 .part1 .sec-right-box .price .p-price {font-size:14px;color:#000;font-family:Times New Roman; font-weight: bold;}
.section5 .part1 .sec-right-box .price .p-price span {font-size:30px; }
.section5 .part1 .sec-right-box .price .m-price {font-size:12px}
.section5 .part1 .choose-btns .btn {width:210px;line-height:36px;text-align:center;border:1px #000 solid;float:left;margin-right:5px;font-family:FangSong;font-size:14px}
.section5 .part1 .choose-btns .btn:hover,.section5 .choose-btns .btn-append {text-decoration:none;background:#000;color:#fff}
.section5 .part1 .related-collect {background-position:0 -124px;width:49px;height:68px;position:absolute;top:50%;margin-top:-34px;right:10px}
.section5 .part2 { left:100%;}
.section5 .part2 .title {width:100%;text-align:center;float:left;margin-top:80px;margin-bottom:40px}
.section5 .part2 .title strong {width:30px;line-height:30px;font-size:24px;font-style:italic;display:inline-block}
.section5 .part2 .sec-items {width:1023px;position:absolute;right:40px;top:50%; margin-top:-120px;}
.section5 .part2 .sec-items ul {float:left;margin-left:-20px}
.section5 .part2 .sec-items li {width:240px;height:240px;float:left;margin-left:20px;position:relative;overflow:hidden}
.section5 .part2 .sec-items li img {width:100%}
.section5 .part2 .sec-items li p {text-align:right;color:#000;padding:0 10px;margin-top:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.section5 .part2 .sec-items li .name {font-size:14px;height:25px}
.section5 .part2 .sec-items li .price {font-size:12px;height:20px}
.section5 .part2 .related-collect {background-position:-49px -124px;width:49px;height:68px;position:absolute;top:50%;margin-top:-120px;left:50px}



@media (max-width:1200px) {
    .body-detail {overflow:visible}
}
@media (max-height:720px){
    .login-wrap {height:564px}
}
@-webkit-keyframes arrowGo {
    0%{
        opacity:1;
        -webkit-transform:translate(0, 0);
    }
    100%{
        opacity:1;
        -webkit-transform:translate(0,100%);
    }
}