ul {list-style: none; margin:0; padding: 0;}
.icon {background:url(../images/icon.png) no-repeat;background-size:152px auto;}
/*--//End--common*/
.custom .am-header {background:#fff;border-bottom:3px #000 solid;border-top:3px #000 solid;}
.custom .am-header .logo a { background-position: 0 0;width:152px; height:27px; position: absolute;top:50%; margin-top:-13px; left:21px;}
.custom .am-header .icon-cart { background-position:0 -27px;width:34px; height:24px; float: left; margin-top:8px;margin-right:9px; position: relative;}
.custom .am-header .icon-user { background-position:-35px -27px;width:25px;height:24px;float: left; margin-top:8px}
.custom .am-header .icon-cart span {width:12px;height:10px;line-height:10px;text-align:center;position: absolute;top:0; right:0; color: #fff;}
.custom .am-header .icon-cart span em {font-size:0.8rem;font-style:normal;display: inline-block;position:relative;top:-4px;}
/*--//End--*/
.custom .am-slider {box-shadow:none}
.custom .am-control-nav li a { background: #cecece;box-shadow: none;}
.custom .am-control-nav li a.am-active { background: #ce0202;}
/*--//End--*/
.custom .toolbar {width:100%;border-top:1px #000 solid;border-bottom:2px #000 solid;display: -webkit-box;display: -webkit-flex;display: flex;}
.custom .toolbar .item {padding:10px 0;-webkit-box-flex: 1;-webkit-flex: 1; -ms-flex: 1;flex: 1;color:#666}
.custom .toolbar .item:nth-child(2) {border-left:2px #000 solid;border-right:2px #000 solid;}
.custom .toolbar .item .icon { width:30px; height:30px; display: inline-block;}
.custom .toolbar .item span {width:100%;height:30px;float: left;text-align: center}
.custom .toolbar .item span:nth-child(2) {height:22px; margin-top:5px;}
.custom .toolbar .asso .icon {background-position:0 -54px;}
.custom .toolbar .user .icon {background-position:-30px -54px;}
.custom .toolbar .coupon .icon {background-position:-60px -54px;}
/*--//End--toolbar*/
.box-hd .title {width:100%;padding:20px 0;font-size: 18px;text-align:center;float: left;}
.box-hd .title strong {width:20px;line-height:20px;display: inline-block; font-weight:normal; font-style: italic;}
.box-hd .ul-index-list {width:100%; float: left;}
.box-hd .ul-index-list li {width:100%;float: left; margin-bottom:1px;}
.box-hd .ul-index-list li img {width:100%;}
.box-hd .ul-index-list li a { display: block; position: relative;}
.box-hd .ul-index-list li .name {width:20px;line-height:20px;position: absolute;top:50%; margin-top:-40px;right: 10px; color: #fff;}
.box-hd .ul-index-list li .price { position: absolute; bottom:10px; left:10px; font-size:20px; color: #fff;}
.box-hd .ul-index-list li .price i { font-style: normal; font-size:8px;}
.box-hd .ul-index-list li .price strong { font-weight: normal;}
/*--//End--*/
.login-reg {width:100%;text-align: center; float: left; padding:50px 0;border-bottom:1px #ccc solid}
.login-reg a {width:40%;line-height: 42px;border:1px #000 solid;text-align: center;display: inline-block; margin:0 6px; color: #000;}
/*--//End--*/



.footer {}
.footer .bd {width:100%; float: left;}
.footer .info {margin:50px 0;text-align: center}
.footer .info .icon { background-position: 0 0; width:68px; height:26px; display: inline-block;}
.footer .info .txt {}
.footer .info .wechat {background: url(../images/icon-wechat.png) no-repeat; background-size:153px auto; width:153px; height:153px; display: inline-block; margin:10px 0;}
.footer .copyright {text-align: center; font-size:10px; line-height:20px;border-top:1px #ccc solid;color:#999}



