@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,img,input,a,p,strong,em,i{margin:0;padding:0;border:0;list-style:none;font-family:"Microsoft YaHei"}
strong,b {font-weight:normal}
img {border:0}
ul,dl{list-style:none}
a {outline:none;cursor:pointer}
a:hover{text-decoration: underline}
/*--reset--*/
.hd{overflow: hidden}
.my-order .order-nav{width: 1000px;height: auto;margin:60px auto 0;}
.my-order .order-nav .layout-nav{float: left;width: 110px;height: auto;padding:20px 14px 25px;border: 1px solid #ccc;}
.my-order .order-nav .layout-nav .order{height:auto;}
.my-order .order-nav .layout-nav .order span{padding:0 16px;}
.my-order .order-nav .layout-nav .order p{font-size:12px;color: #000;font-family: "Times New Roman";margin-top: 12px;padding-left: 2px;}
.my-order .order-nav .layout-li{margin-top: 15px;}
.my-order .order-nav .layout-li li .liul{color: #000;font-size: 12px;font-family: "宋体";padding-left: 4px;}
.my-order .order-nav .layout-li li{padding-bottom: 7px;}
.my-order .order-nav .layout-li li a{color:#666;padding-left: 4px;font-family: "宋体";font-size: 12px;outline: none;}
.aborder{padding-top: 7px;border-top: 1px solid #666;}
.my-order .layout-col{float: right;height: auto;}
.my-order .filter-bar{width:780px;}
.my-order .extra-l{float: left;}
.my-order .filter-bar li{float: left;padding-right: 40px;}
.my-order .filter-bar li a{font-size: 12px;color:#666;font-family: "宋体";outline: none;}
.my-order .filter-bar li a span{padding:0 2px;}
.my-order .filter-bar li .curr{font-size: 16px;font-family:"Microsoft YaHei";color: #000; }
.my-order .extra-r{float: right;}
.my-order .fav-bar{padding-right: 16px;}
.my-order .fav-bar li{padding-right: 5px;float: right}
.my-order .fav-bar li a{color:#003366;font-size: 12px;font-family: "宋体";outline: none;}
.my-order .layout-col .pay_info_validate{overflow: visible;}
.my-order .commodity_list{width: 853px;border:1px solid #ccc;margin:26px 0 34px 27px;}
.my-order .commodity_list tr th{font-size: 12px;color:#666;font-family: "宋体";padding:14px 0;text-align: center;font-weight: normal}
.my-order .commodity_list tr td{font-size: 12px;color:#666;font-family: "宋体";padding:14px 0;text-align: center;font-weight: normal}
.my-order .commodity_info{width: 245px;}
.my-order .commodity_price_unit{width: 165px;}
.my-order .commodity_quantity{width:50px;}
.my-order .commodity_price{width:157px;}
.my-order .commodity_states{width:130px;}
.my-order .commodity_action{width:139px;}
.my-order .tradeContainer{margin:0 0 34px 27px;width:852px;border: 1px solid #ccc;}
.my-order .tradeContainer .shop{float: left;width:852px;}
.my-order .item-bg{}
.my-order .tradeContainer li{padding:20px;color:#999;font-size: 12px;float: left;font-weight: normal;}
.my-order .tradeContainer li span{color:#000;}
.my-order .item-list{padding:20px 0 20px 47px;border-top: 1px solid #ccc;}
.my-order .commodity_info-1 .l2 p{text-overflow: ellipsis;white-space:nowrap;overflow:hidden;}
.my-order .commodity_info-1 .l1{width:80px;height:80px;padding:0;float:left;}
.my-order .commodity_info-1 .l2{padding:22px 0 0 16px;}
.my-order .commodity_info-1 .l2 p a{font-size: 12px;color:#666;font-family:  "宋体";font-weight: normal;outline: none;}
.my-order .commodity_info-1 .l2 p a:hover{text-decoration: underline;}
.price{color:#ff0000;font-size: 12px;font-weight: normal;font-family:  "Times New Roman";padding:20px 0px 20px 60px;}
.amount{font-size: 12px;color:#666;font-weight: normal;padding:20px 0px 20px 20px;}
.price1{color:#ff0000;font-size: 12px;font-weight: normal;font-family:  "Times New Roman";}
.price2 a{font-size: 12px;color:#666;font-family:  "宋体";font-weight: normal;}
.amount1{padding:20px 0px 20px 55px;}
.price3{color:#ff0000;font-size: 12px;font-weight: normal;font-family:  "宋体";padding:20px 0px 20px 42px;}
.price4{padding:20px 0px 20px 14px;text-align: center;color:#003366;font-size: 12px;font-weight: normal;font-family:  "宋体";}
.price4 a{font-size: 12px;font-weight: normal;font-family:  "宋体";text-align: center;color:#003366;outline: none;}
.price4 a:hover{text-decoration: underline;}
.active-clolor1{border-left: 1px solid #ccc;}
.price5{text-align: center;}
.price6{text-align: center;}
.price6 p{font-size: 12px;color:#999;font-weight: normal;font-family:  "宋体";}
.price6 p .evaluate{color:#003366;}
.price5 a{font-size: 12px;font-weight: normal;font-family:  "宋体";color:#003366;outline: none;}
.price5 a:hover{text-decoration: underline;}
/*--查看订单收获信息--*/
.my-order .filter-bar-1{width:854px;}
.my-order .filter-bar-1 li{float: left;padding-right: 40px;}
.my-order .filter-bar-1 li a{font-size: 12px;color:#666;font-family: "宋体";outline: none;}
.my-order .filter-bar-1 li a span{padding:0 2px;}
.my-order .filter-bar-1 li .curr{font-size: 16px;font-family:"Microsoft YaHei";color: #000; }
.orderinfo{width: 853px;border:1px solid #ccc;overflow: hidden;margin-bottom:100px}
.orderid{padding:17px 0 16px;font-family:"Microsoft YaHei";font-size: 14px;color:#000;}
.orderid-mashup{margin:0 25px;}
.od-id{padding-left: 14px;}
.od-id p{line-height: 25px;font-size: 12px;font-family: "宋体";color:#000;}
.od-id p span{padding-left:10px;}
.bd-top{border-top:1px solid #CBCBCB;padding-bottom: 20px;}
.strong{font-size: 12px;font-family: "宋体";color:#000;padding: 0}
.od-id p span .active2{padding: 0}
.item-list5{padding-bottom: 30px;}
.od-id .strong-1 .strong{float:left;font-size: 12px;font-family: "宋体";color:#000;padding: 0}
.od-id .strong-1{overflow: hidden}
.my-order .commodity_info1{width: 80px;}
.informala{border:1px solid #ccc;}
.my-order .commodity_price_unit1{width: 200px;}
.my-order .commodity_quantity{width:50px;}
.my-order .commodity_price{width:157px;}
.my-order .commodity_states{width:130px;}
.my-order .commodity_action{width:139px;}
.price8{color:#ff0000;font-size: 12px;font-weight: normal;font-family:  "Times New Roman";padding:20px 0px 20px 60px;}
.price9{font-size: 12px;font-weight: normal;font-family:  "Times New Roman";padding:20px 0px 20px 60px;}
/*订单信息为空*/
.item-list-q{border-top: 1px s}