#pubu {

}
#pubu #box {
	width:100%;
	height:auto;
	padding:10px;
	float:left;
}
#pubu #box .pic {
	width:560px;
	height:auto;
    box-shadow:1px 1px 4px #ddd,-1px -1px 4px #ddd;
    border-radius:4px;
}
#pubu .box .pic img {
    display: block;
	width:500px;
    margin:0 auto;
    padding: 15px 0;
    cursor: pointer;
}

#recommends{
	margin:0 auto;
	position:relative;
}
#recommends #recommend{
	width:32%;
	height:auto;
	padding:10px;
	float:left;
}