table tr td div {
    border: 0;
    padding: 0;
    margin: 0;
}

.scheduletable {
    background-color: #F2F2F2;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.scheduletable td {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    vertical-align: middle;
}

.scheduletable td.head {
    background-color: #DCE0E0;
}

.scheduletable td.tint {
    background: #f5f5f5;
}

.scheduleDiv {
    height: 600px;
    position: relative;
}

.scheduleWeekDiv {
    height: 70px;
    position: relative;
    border-top: solid 1px #d0daec;
}

.smallDiv {
    z-index: 1;
    height: 39px;
    position: relative;
    border-top: solid 1px #d0daec;
}

.m8u_select, .m8u_select2 {
    padding: 0.1em 0.5em;
    line-height: 20px;
}