@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,img,input,a,p,strong,em,i{margin:0;padding:0;border:0;list-style:none;font-family:"Microsoft YaHei";}
ul,dl{list-style:none;}
a:link,a:visited{outline:none;cursor:pointer;}
a:hover{color:#354658;cursor:pointer;}
input::-webkit-input-placeholder {color: #dadada !important;font-size:15px;font-weight:normal;}
input:-moz-placeholder {color: #dadada !important;font-size:15px;font-weight:normal;}
/*--reset--*/
.hd {width:1000px;margin: 0 auto;}
.tc {text-align: center;}
/*--common--*/
.topbar {width:100%;height:70px;line-height:70px;border-bottom:1px #4b4b4b solid;float: left;}
.topbar .phone {float: right;}
.topbar .phone span {font-size:15px;}
.topbar .phone strong {font-size:18px;font-weight:normal;}
/*--/End--*/
.search-home {width:640px;margin:0 auto;clear: both;padding-bottom:75px;}
.search-home .logo {width:100%;float: left;margin-top:120px;text-align: center;}
.search-home .logo p {font-size:24px;margin-top:18px;margin-bottom:35px;}
.search-home form {margin-bottom:0;}
.search-home form .title {width:100%;float: left;margin-bottom:10px;}
.search-home form .title a {color:#7b7b7b;font-size:15px;float:left;}
.search-home form .title .active {color:#303030;font-weight:bolder;}
.search-home form .title .line {width:1px;height:16px;float:left;background:#7b7b7b;margin:5px 10px 0 10px;}
.search-home form .txt  {width:536px;height:40px;float:left;border:1px solid #354558;border-right:0;padding:6px 10px;}
.search-home form .btn {width:102px;height:40px;border:1px solid #354457;float:left;background-color:#354558;color:#fff;font-size: 18px;font-weight:normal;}
/*--/End--*/
.search-list {width:100%;height:152px;border-bottom:2px #080808 solid;float: left;}
.search-list .search-home {width:1040px;padding-bottom: 0;}
.search-list .logo {width:278px;margin-top:50px;float: left;}
.search-list form {width:638px;float: right;margin-top:40px;margin-bottom:0;}
.search-list form .title a {color:#999;font-size:15px;}
.search-list form .title .line {width:2px;height:17px;float:left;background:#7b7b7b;margin:4px 10px 0 10px;}
.search-list form .title .active {color:#303030;}
/*--//End--*/
.search-result {width:100%;float:left;color:#000;}
.search-result .result-text {line-height: 45px;font-weight:bold;}
.search-result h1 {font-size:30px;font-weight: normal;text-align: center;display: block;padding-top:40px;padding-bottom:30px;border-bottom:1px #b5b5b5 dashed;}
.search-result .item {width:100%;height:470px;border-top:1px #b5b5b5 dashed;padding:58px 0;position: relative;float:left;margin-top:-1px;}
.search-result .item a.img {position: absolute;top:60px;left:0;}
.search-result .item ul {width:680px;margin-left:320px;float:left;margin-top:-22px;}
.search-result .item li {width:100%;height:28px;font-size:18px;float: left;margin-top:19px;}
.search-result .item li span {float: left;margin-right:28px;}
.search-result .item li .icon {background: url(../images/search-result.png) no-repeat;width:40px;height:40px;float:left;margin-right:10px;}
.search-result .item li .icon-code {background-position: 0 0;}
.search-result .item li .icon-card {background-position: 0 -40px;}
.search-result .item li .icon-dna {background-position: 0 -80px;}
.search-result .item li a {position: relative;}
.search-result .item li .wechat {position: absolute;top:40px;left:-50px;}
.search-result .item li .wechat .icon {background-position:0 -120px;width:37px;height:25px;position: absolute;top:20px;left: 0;z-index: 2;}
.search-result .item li .wechat img {border:5px #344557 solid;padding: 10px;position: absolute;top:40px;left: 0;z-index: 1;}
/*--//End--非遗查询-详情页终--*/
.search-result .item2 {height:auto;padding-top:30px;margin-bottom:120px;border-top:0}
.search-result .item2 a.img {top:30px}
.search-result .item2 .info {width:460px;margin-left:500px;float: right;}
.search-result .item2 .info table {width:100%;float:left}
.search-result .item2 .info td {height:60px;border:1px #000 solid;text-align: center;}
.search-result .item2 .info .btn {width:200px;height:45px;line-height:45px;text-align:center;color:#000;font-size:18px;font-family:Fangsong;border: 1px #354558 solid;float: right;margin-top:36px;transition:all 0.4s;}
.search-result .item2 .info .btn:hover {background:#000;color: #fff;}
.search-result .item2 .info .result-title {width:100%;padding:20px 0;float: left;text-align: center;}
.search-result .item2 .info .result-title strong {width:100%;padding:0 10px;float:left;color:#f90;font-size: 21px;font-weight:normal;}
.search-result .item2 .info .result-title a {font-family: Fangsong;font-size:13px;color:#189aff;float: right;margin-right:60px;}
.search-result .item-info {width:100%;float:left;padding-bottom:120px;}
.search-result .item-info h2 {width:100%;text-align: center;font-size: 30px;font-weight: normal;float:left;margin-top:12px;margin-bottom:24px;}
.search-result .item-info .row {width:100%;float: left;}
.search-result .item-info .row table {width:100%;}
.search-result .item-info .row table td {line-height:58px;border:1px #818181 solid;text-align: center;font-size: 16px;}
.search-result .item-info .row table td a {font-family:Fangsong;color:#189aff;}
.search-result .item2 .title {height:auto;}
.search-result .item2 .title strong {width:100%;color:#ee7700;font-size:20px;float: left;font-weight:normal;}
.search-result .item2 .title a {width:100%;color:#189aff;font-size:15px;float: left;text-align: left;text-indent:230px;}
/*--//End--*/
.search-dialog .content {width:884px;border:8px #f90 solid;position: fixed;top:50%;left:50%;margin-top:-399px;margin-left:-442px;background:#f9f9f9;z-index:101;text-align: center;box-sizing: content-box;}
.search-dialog .content .title {width:100%;padding:16px 0;text-align: center;border-bottom:1px #dadada solid;float: left;position: relative;}
.search-dialog .content .title .close {background:url(../images/search-result.png) no-repeat 0 -145px;width:30px;height:30px;position: absolute;top:30px;right:30px;cursor: pointer;}
.search-dialog .content .img {width:100%;padding:30px 0;float: left;}
.search-dialog .content .info {width:100%;padding-bottom:30px;float: left;}
.search-dialog .overlay {background-color: #000;opacity: 0.8;filter:alpha(opacity=80);position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 100;}
/*--//End--*/
.about {width:100%;float:left;}
.about .menu {width:178px;border-right:1px #999 solid;float: left;margin-top:60px;text-align: center;}
.about .menu a {width:100%;font-size:16px;color:#354558;float: left;text-indent:26px;float:left;margin-bottom:20px;}
.about .info {width:740px;padding-top:120px;padding-bottom:200px;float:left;border-left:1px #999 solid;margin-left:-1px;}
.about .menu a.active {color:#f90}
.about .info p {padding-left:50px;}
.about .info .t1 {font-size:16px;}
.about .info .t2 {font-size:25px;margin:10px 0;}
.about .info .t3 {font-size:25px;}
.about .info .t4 {font-size:20px;margin-top:68px;margin-bottom:20px;}
.about .info .t5 {font-size:12px;text-indent:24px;}
.about .info .t6 {font-size:20px;margin-top:45px}
.about .info .t7 {font-size:12px;margin-top:15px}
.about .info .t7-1 {font-size:24px;text-indent:110px;}

.about .notice {width:740px;padding:20px 0 20px 80px;float:left;border-left:1px #999 solid;margin-left:-1px;}
.about .notice h1 {font-size:25px;font-weight:normal;text-align: center;margin-top:68px;margin-bottom:62px;}
.about .notice p {width:100%;float:left}
.about .notice .part1 {font-size:16px}
.about .notice .part1 .t1 {margin-bottom:40px;}
.about .notice .part1 .t2 {margin-bottom:60px;}
.about .notice .part2 p {font-family:simsun;font-size:12px;line-height:24px;}
.about .notice .part2 p.t1 {font-family:"microsoft yahei";font-size:20px;}
.about .notice .part2 p.t2 {margin:30px 0;}
.about .notice .part2 p.mt30 {margin-top:30px;}

.about .notice .part3 p {font-family:simsun;font-size:12px;line-height:24px;}
.about .notice .part3 p.t1 {font-family:"microsoft yahei";font-size:20px;}
.about .notice .part3 p.t2 {margin:30px 0;}
.about .notice .part3 p.mt30 {margin-top:30px;}
/*--//End--*/
.footer {width:100%;padding:20px 0;float:left;text-align:center;}
.footer .hd {width:640px;}
.footer a {color:#707070;font-size:12px;display: inline-block;margin:0 10px;}
.footer a:hover {color:#303030;}
.search-home .footer {position: absolute;bottom:0;left:0;}
.footer-list {line-height:30px;border-top:1px #000 solid;font-size: 12px;}
.footer-list strong {color:#666;font-style:italic;}
.footer-list em {color:#000;font-size:18px;font-weight:bold;position: relative;top:2px}
.footer-list .copyright {color:#999;}
/*--//End--*/




