@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0; list-style:none; font-family:"宋体";}
h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd{margin:0;padding:0; list-style:none;}
/*传承人首页*/
.am-header-default{background-color:#fff;}
.am-header{height:28px; line-height:28px;}
.am-header .am-header-title{ margin:0 25%;}
.am-header-default .am-header-title, .am-header-default .am-header-title a{color:#0b3775; line-height:28px; font-size:10px; font-family:"微软雅黑";}
.am-header .am-header-title img{height:23px;min-width:61px;margin-top:27px;}
.am-width-margin{padding-left:5%;color:#0b3775; font-size:10px; font-family:"微软雅黑"}
.am-border-1{width:100%;height:2px; background:url(../images/logo2.jpg) repeat-x;}
#am-nav-1{height:240px;width:100%;}
.am-bg-tp{width:100%;height:240px;}
.am-bg-tp img{width:100%;height:240px;background-size: 100% 100%;}
#am-mg-14{margin-top:14px; font-size:15px;}
.am-xu-nav{margin:0 auto;overflow:hidden; position:relative;top:-98%; text-align:center;display:block;}
.am-xu-nav p{color:#fff;font-size:12px; font-family:"黑体"; margin:0 auto;line-height:25px; text-align:center; }
.am-xu-nav p a{color:#fff; font-size:12px;width:19%;height:36px; float:left;text-align:center; background:url(../images/logo5.jpg) no-repeat 0% 5px;}
#p-a{background:none;}
.p-a{background:none;position:relative;}
.am-img-thumbnail{height:80px;width:80px;padding:0px;border:3px #B5B5B3 solid;background-color:rgba(0,0,0,0.2);}
#am-bd-1{height:1px; border-bottom:1px solid #fff;margin:30px 16px 0 16px}
#am-bd-2{margin:0 auto;height:36px;margin-top:30px;}
.am-bd-2{margin:0 auto;height:31px;}
.am-avg-sm-2>li{width:100%}
.am-gallery-overlay .am-gallery-title{height:35px; background-color:rgba(255,255,255,0.50);color:#000; font-size:10px}
.am-gallery-desc{color:#000; font-size:10px}
.am-page-img{padding-left:8px;widht:13px;height:13px;}
#am-sj-i{width:11px;height:5px; background:url(../images/images/logo5.png) no-repeat; position:absolute;left:41%;top:31px;}
.am-footer{height:123px;border-top:3px solid #fff;padding:2em 0;background-color:#F1F5F8;width:100%;float:left}
.am-footer-default .am-footer-miscs p{color:#133C7A;}
.am-switch-mode-slogan{color:#133C7A;;font-size:12px; text-align:center;}
/*传承人简介*/
#intro-content{height:109px;width:100%;background-color:#F1F5F8;padding-top:17px;}
.intro-text-1{padding:0 3%; font-family:"微软雅黑"; font-size:12px;height:65px;overflow:hidden;}
.am-tabs-bd{border:0;}
#am-bg-q2{background:#F1F5F8; overflow:hidden;margin-top:2px;}
.am-tabs-default .am-tabs-nav a{line-height:44px;background-color:#fff;width:95%;height:44px;}
.am-tabs-default .am-tabs-nav>.am-active a{background-color:#0e90d2;color:#fff;}
[data-am-widget=tabs] .am-tabs-nav li{font-size:12px;}
.am-avg-sm-3>li{width:100%;background-color:#fff;}
.am-tabs-bd .am-tab-panel{padding:0;}
.am-gallery-default .am-gallery-title{color:#7c8692; font-size:12px; font-family:"Microsoft YaHei,Microsoft JhengHei,SimSun,SimHei"}
.am-gallery-default .am-gallery-desc{color:#7c8692; font-size:12px; font-family:"Microsoft YaHei,Microsoft JhengHei,SimSun,SimHei";margin-top:20px;}
.intro-text-no-margin{margin:0}
/*作品*/
.am-tabs-bd .am-tab-panel.am-active{color:#7c8692; font-size:12px; font-family:"Microsoft YaHei,Microsoft JhengHei,SimSun,SimHei";}
.am-btn-default{color:#000; background-color:#fff; font-size:12px; font-family:"Microsoft YaHei,Microsoft JhengHei,SimSun,SimHei";width:117%;height:42px;border:0;}
.am-color-000{background-color:#F1F5F8;}
[class*=am-u-]{padding-left:1%;padding-right:6%;}
.am-mar-top{padding-top:5px;}
.am-btn-default:active{background-color:#0e90d2;color:#fff;}
.vessel{background-color:#F1F5F8;padding-top:5px;overflow:hidden;}
.am-figure-default figcaption{color:#7c8692; font-size:12px; font-family:"Microsoft YaHei,Microsoft JhengHei,SimSun,SimHei"; text-align:left;}
.am-figure-default figcaption{ margin:0; padding-bottom:15px;}
.am-figure-default{margin:0 10px; overflow:hidden;}
.intro-text-1{padding:0 3%; font-family:"微软雅黑"; font-size:12px;overflow:hidden;}
.message-text{width:100%;padding:23px 3% 0 3%;overflow:hidden;margin-bottom:10px;}
.message-text h1{font-size:14px; font-family:"微软雅黑";color:#000;}
.message-text p{color:#7c8692;font-size:12px; font-family:"Microsoft YaHei,Microsoft JhengHei,SimSun,SimHei";line-height:20px;}
#message-text-p{ font-size:12px; font-family:"微软雅黑";color:#777; line-height:33px;margin:0;}
.message-text-p{ font-size:12px; font-family:"微软雅黑";color:#777; line-height:33px;margin:0;}
.message-text span{height:25px;}
.message-text span a{width:56px;height:25px; line-height:25px;float:right;color:#0072bb;font-size:12px; text-align:center;padding-left:20px; background:url(../images/logo8.gif) no-repeat 10px center;}
.an-mg-top{margin-top:5px;}
/*工作仿*/
.video-img-or{width:297px;height:193px;margin:0 auto;padding-top:30px;}
.video-img-or video{width:297px;height:163px;}
.video-img-or img{width:297px;height:163px;}
.video-img-text{width:297px; overflow:hidden;margin:0 auto;padding-top:16px;font-size:12px; font-family:"Microsoft YaHei,Microsoft JhengHei,SimSun,SimHei";color:#9CA7AB;}
/*聚首*/
.gather-am-1{border:0;height:93px;padding:1em 0;}
.am-slider-a1 .am-control-nav li a:link, .am-slider-a1 .am-control-nav li a:hover{background-color:#9FA1A0;}
.am-slider-a1 .am-control-nav li a.am-active{background-color:#fff;}
.am-ing-bg-color{background-color:#F1F5F8;}
.am-text-color-1{color:#000; font-size:10px;}
/*作品详情*/
.work-details{height:28px;box-shadow:0px 0px 5px rgba(0, 0, 0, 0.1);width:100%; background-color:#fff;}
.work-details-i{height:13px;width:16px;padding-left:4%;}
.work-details-i img{height:13px;width:16px;}
.work-text-h1{ overflow:hidden;width:100%;}
.work-text-h1 h1{height:37px; font-size:14px;color:#000; line-height:37px; text-align:center; font-family:"Microsoft YaHei,Microsoft JhengHei,SimSun,SimHei";}
.work-text-h1 p{margin:0 4%; overflow:hidden;color:#7c8692; font-size:12px;line-height:19px;}
.am-u-sm-12 {text-align: center;padding:10px;}
.am-u-sm-12 img{width:100%;}
.am-img-tp-hi{height:198px; margin-bottom:18px;}
/*咨询详情*/
.work-text-h2{height:87px;width:100%;line-height:30px;padding-left:4%;padding-right:4%;}
.work-text-h2 p{width: 100%;float: left}
.message-text2{ overflow:hidden;width:100%;padding-left:4%;padding-right:4%;}
.message-text2 h1{ font-size:14px; font-family:"宋体"; color:#000;height:53px;line-height:16px;padding-top:17px;}
.message-text-p2{color:#6e6e6e; font-size:10px;line-height:22px;height:22px;}
.am-p-p{margin:1.5rem auto;color:#7c8692; font-family:"黑体"; font-size:12px; line-height:20px;}
/*--//End--20121313132132*/
