.master_img {
    width:100%;
    text-align: center;
}
.master_img img {
    width:60px;
    height:60px;
    -webkit-border-radius:60px;
    border-radius:60px;
}
.master_text {
    padding:0 16px;
    line-height:18px;
}

.tabs .nav {
    display: -webkit-flex; /* Safari */
    display: flex;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.tabs .nav span {
    flex:1;
    height:45px;
    line-height:45px;
    position: relative;
    padding:0 16px;
    overflow: hidden;
}
.tabs .nav span.selected:after{
    content: '';
    width:100%;
    height:2px;
    background: #f00;
    position: relative;
    top:-28px;
    left:0;
    display: inline-block;
    line-height:2px;
}
.tabs .items {position: relative;}
.tabs .items .tab-panel {
    width:100%;height:200px;
    position: absolute;
    top:0;
    left:0;
}




/*------/End----内容频道-大师详情-----------*/