@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,img,input,a,p,strong,em,i{margin:0;padding:0;border:0;list-style:none;font-family:Microsoft YaHei}
strong,b,em {font-weight:normal;font-style:normal}
img {border:0}
ul,dl{list-style:none}
a {color:#000;outline:none;cursor:pointer}
a:hover {color:#f00;text-decoration:underline}
/*--reset--*/
body {overflow-x:hidden}
.hd {width:970px;margin:0 auto;position: relative;transition:all 0.5s}
.wh {width:100%;float:left}
.icon {background:url(../images/icon.png) no-repeat}
/*--//End--common*/
.header .hd{height:100px;margin:25px auto}
.header .logo{background-position:0 0;width:530px;height:100px;float:left}
.header .txt{position:absolute;bottom:0;right:0}
.header .txt p{font-size:12px;font-style:italic;text-align:right;color:#525252}
.nav{background:#900;height:40px;line-height:40px}
.nav .ul-list{width:100%;height:40px;position:relative}
.nav .ul-list li a{height:40px;font-size:13px;float:left;padding:0 30px;transition:all 0.5s;color:#fff}
.nav .ul-list li a:hover,
.nav .ul-list li.active a {background:#b4361c;text-decoration: none}
/*--//End--nav--*/
.home {margin-bottom:97px}
.home .slide-left {width:800px;float: left;margin-top:20px;border-right:1px solid #e8e8e8}
.home .slide-left .focus {position: relative}
.home .slide-left .focus .am-slider-default .am-control-nav li{margin-right:0}
.home .slide-left .focus .am-slider-default .am-control-nav li a{width:15px;height:15px;line-height:15px;font-size:12px;text-indent:1px;background:#fff;font-family:SimSun}
.home .slide-left .focus .am-slider-default .am-control-nav li a:hover{text-decoration:none}
.home .slide-left .focus .am-slider-default .am-control-nav li a.am-active{background:#c53b1f;color:#fff}
.home .slide-left .focus .am-slider-default .am-control-nav{width:auto;left:450px;bottom:13px}
.home .slide-left .focus .am-slider-default .am-slider-desc{width:344px;height:106px;padding:10px;background:rgba(255,255,255,0.8);position:absolute;right:10px;bottom:10px;color:#525252;font-size:12px}
.home .slide-left .focus .am-slider-default .am-slider-desc h3{width:100%;font-size:20px;font-weight:normal;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.home .slide-left .focus .am-direction-nav {display: none}
/*--//End--focus--*/
.home .list-box {position: relative}
.home .list-box:before{content:'';width:1px;height:520px;background:#e8e8e8;position:absolute;top:34px;left:386px}
.home .list-news {width:354px;float: left;margin-left:10px}
.home .list-news .title{width:100%;font-size:15px;color:#808080;font-weight:normal;margin-bottom:10px;float:left}
.home .list-news .ul-items {width:100%;float:left}
.home .list-news .ul-items li{width:100%;height:160px;padding-top:30px;padding-left:90px;font-size:12px;color:#000;position:relative;border-bottom:1px solid #e8e8e8;margin-bottom:20px}
.home .list-news .ul-items li img{width:80px;position:absolute;top:30px;left:0}
.home .list-news .ul-items li .name{font-size:13px;color:#b4361c;position:absolute;top:0;left:0;overflow:hidden;text-overflow:ellipsis; white-space:nowrap}
.home .list-news .ul-items li .info{width:100%;height:80px;overflow:hidden}
.home .list-news .ul-items li .btn-more{font-size:13px;color:#3b8542;position:absolute;top:120px;left:0}
.home .list-news2 {float: right;margin-right:36px}
/*--//End--list-box--*/
.home .directory {width:753px;margin:20px 36px 10px 10px;padding-bottom:10px;position:relative;border-bottom: 1px solid #e8e8e8}
.home .directory .btn{background:url(../images/icon.png) no-repeat;width:9px;height:17px;position:absolute;top:110px}
.home .directory .btn-prev {background-position:-22px -100px;left: 0}
.home .directory .btn-next {background-position:-31px -100px;right:0}
.home .directory .title{font-size:15px;color:#808080}
.home .directory .title .btn-more{color:#3c8643;font-size:13px;float:right}
.home .directory .list-img-txt{float:left;margin-top:30px;margin-left:9px}
.home .directory .list-img-txt li{width:170px;line-height:30px;font-size:12px;float:left;margin-left:11px;color:#000}
.home .directory .list-img-txt li img{width:100%}
/*--//End--list-box--*/
.home .data-down {width:753px;margin:20px 36px 10px 10px;padding-bottom:20px;position:relative;border-bottom: 1px solid #e8e8e8}
.home .data-down .title{font-size:15px;color:#808080;margin-top:34px;margin-bottom:30px}
.home .data-down .title .btn-more{color:#3c8643;font-size:13px;float:right}
.home .data-down .list-table{float:left;margin-left:-24px}
.home .data-down .list-table li{width:170px;float:left;margin-left:24px;font-size:12px}
.home .data-down .list-table li td{width:100%;height:215px;line-height:24px;padding:0 10px;border:5px solid #c53b1f;text-align:center;color:#1b1b1b}
/*--//End--data-down--*/
.home .slider-right{width:140px;float:right;margin-top:20px}
.home .slider-right .part {width:100%;float: left}
.home .slider-right .part .title{font-size:15px;color:#808080;margin-bottom:20px}
.home .slider-right .part .ul-list li{width:100%;float:left;font-size:12px;color:#000;line-height:24px;margin-bottom:25px}
.home .slider-right .part .ul-list li p{padding:3px 0}
.home .slider-right .part .ul-list li img {width:100%}
.home .slider-right .part .ul-list li .btn-more{font-size:13px;color:#3c8643;float:right;margin-top:5px}
.home .slider-right .part .ul-list-btn li {width:100%;float:left}
.home .slider-right .part .ul-list-btn li a{width:100%;line-height:40px;text-align:center;border:1px solid #b2b2b2;float:left;margin-bottom:20px;font-size:13px;color:#1b1b1b}
.home .slider-right .part .ul-list-btn li a:hover {text-decoration: none}
.home .slider-right .part .ul-list-btn li .icon{background:url(../images/icon.png) no-repeat;display:inline-block;margin-right:20px;position:relative}
.home .slider-right .part .ul-list-btn li .icon-1{background-position:-40px -100px;width:20px;height:20px;top:5px}
.home .slider-right .part .ul-list-btn li .icon-2{background-position:-61px -100px;width:16px;height:20px;top:3px}
.home .slider-right .part .ul-list-btn li .icon-3{background-position:-77px -100px;width:20px;height:20px;top:3px}
.home .slider-right .part .ul-list-btn li .icon-4{background-position:-97px -100px;width:20px;height:18px;top:3px}
/*--//End--part--*/
.footer {font-size:12px;background:#b4361c;color: #fff}
.footer a {color:#fff}
.footer .links {height:16px;line-height:16px;text-align:center;padding:15px 0}
.footer .links a {margin:0 10px;display:inline-block;box-sizing:content-box}
.footer .links a.line {width:1px;height:10px;background:#fff;top:2px;position:relative}
.footer .links a:hover {text-decoration:underline}
.footer .copyright {padding:15px 0;text-align:center}
.footer .copyright .frlinks {margin:10px 0}
.footer .copyright .frlinks a {margin:0 5px;display:inline-block}
/*--//End--footer--*/
.home-list {}
.home-list .slide-left{width:166px;float:left}
.home-list .slide-left .nav-list{width:100%;padding:56px 0;text-align:center;line-height:54px;font-size:15px;color:#808080;border-right:1px solid #dcdcdc;float:left}
.home-list .slide-left .nav-list-ul li a{width:100%;float:left;font-size:15px;border-bottom:1px solid #dcdcdc;color:#080808}
.home-list .slide-left .nav-list-ul li a:hover{text-decoration:none}
.home-list .slide-left .nav-list-ul .title a {font-size:18px;color:#fff;background:#b4361c}
.home-list .slide-left .nav-list-ul .active a {background:#f6f6f6}
.home-list .slide-left .nav-list-ul .items:hover a{background:#f6f6f6}
.home-list .slide-right {width:785px;padding:50px 0 60px 20px;float:left;margin-left:-1px;border-left:1px solid #dcdcdc}
.home-list .slide-right .title-hide,
.home-list .slide-right .title{width:100%;padding:20px 0;float:left;text-align:center;font-size:20px;color:#080808;border-bottom:1px solid #dcdcdc}
.home-list .slide-right .div-list {width:100%;float:left}
.home-list .slide-right .div-list-ul li {width:608px;float:left;margin-top:28px;position:relative;box-sizing:content-box;padding-left: 73px;padding-right: 83px;}
.home-list .slide-right .div-list-ul li p{width:100%;line-height:24px;font-size:12px;color:#707070;float:left}
.home-list .slide-right .div-list-ul li strong{width:100%;color:#303030;font-size:18px;margin-bottom:10px;float:left;/*overflow:hidden;text-overflow:ellipsis;white-space:nowrap;*/}
.home-list .slide-right .div-list-ul li strong em{position:absolute;top:0;left:50px;font-size:18px}
.home-list .slide-right .div-list-ul li a:hover strong {color:#b4361c}
.isoc .slide-right .div-list-ul li p {color: #000;}
.news .slide-right .div-list-ul {padding:20px 0;}
.news .slide-right .div-list-ul li {margin-top:10px}
.news .slide-right .div-list-ul li a{width:100%;padding-right:100px;font-size:12px;color:#000;float:left;position:relative;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news .slide-right .div-list-ul li a em{position:absolute;top:0;right:0;}
.news .slide-right .div-list-ul li a:hover {color:#b4361c;text-decoration: none}
/*--End--home-list--*/
.pages .am-pagination {margin:88px 0}
.pages .am-pagination>li {color:#000;font-size:12px}
.pages .am-pagination>li a,.pages .am-pagination>li a:hover {background:none;border:0;padding:0;color:#000;cursor:pointer;font-size:12px}
.pages .am-pagination>li.am-active a {border-bottom:0;color: #b4361c}
.pages .am-pagination>li a:hover {color:#f00}
.pages .am-pagination .pages-total {margin-left:10px;margin-right:10px}
/*--End--pages--*/
.home-list .defend {}




@media (max-width:768px){
    .icon {background-size:265px auto}
    .hd {width:100%}
    .header {background:#f9f9f9;width:100%}
    .header .txt {display: none}
    .header .hd {height: 50px}
    .header .logo{background-size:256px auto;width:255px;height:48px;position:absolute;left:50%;margin-left:-127px}
    .nav {background:transparent;position:relative}
    .nav:before,.nav:after{content:'';width:100%;height:4px;position:absolute;left:0;background:#000;z-index:1}
    .nav:before{top:-4px}
    .nav:after{bottom:-4px}
    .nav .ul-list {background: #992d17;overflow:hidden;z-index:2}
    .nav .ul-list li {width:100%;float: left}
    .nav .ul-list li a{width:100%;text-align:center;padding:0;font-size:1.5rem;color:#fff}
    .nav .ul-list li:first-child a {background:#b4361c;}
    .nav .ul-list li.title {width:100%;float:left;text-align: center;color:#fff;background:#b4361c;border-bottom:1px solid #000}
    .nav .btn-menu-down,
    .nav .btn-menu-up {width:40px;height:40px;position:absolute;top:0;right:0;z-index:3}
    .nav .btn-menu-down .icon-menu{background-position:0 -50px;width:11px;height:11px;position:absolute;top:50%;left:50%;margin-top:-5px;margin-left:-5px}
    .nav .btn-menu-up .icon-menu{background-position:0 -83px;background-size:400px auto;width:11px;height:2px;position:absolute;top:50%;left:50%;margin-top:-1px;margin-left:-5px}
    .nav .chevron-left{width:40px;height:40px;position:absolute;top:0;left:0;z-index:5;}
    .nav .chevron-left:before{content:'';width:12px;height:12px;border-left:1px solid #fff;border-top:1px solid #fff;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);position:absolute;top:50%;left:15px;margin-top:-6px;}
    /*--//End--nav--*/
    .home .slide-left {width:100%;margin-top: 0}
    .home .slide-left .focus .am-slider-default .am-slider-desc {display: none}
    .home .slide-left .focus .am-slider-default .am-control-nav {left:50%;bottom:5px}
    /*--//End--focus--*/
    .home .list-box {margin-top: -10px}
    .home .list-box:before {display: none}
    .home .list-box .list-news {width:100%;margin-left:0}
    .home .list-box .list-news .title {padding-bottom:10px;padding-left:15px;border-bottom: 1px solid #e8e8e8}
    .home .list-box .list-news .ul-items li{height:70px;padding-top:0;padding-left:85px;float:left;padding-bottom:10px;margin-bottom:10px}
    .home .list-box .list-news .ul-items li img{width:60px;top:0;left:15px}
    .home .list-box .list-news .ul-items li .name{width:75%;padding-left:15px;position:absolute;top:0;left:70px}
    .home .list-box .list-news .ul-items li .info{padding-right:15px;height:40px;float:left;margin-top:20px}
    .home .list-box .list-news .ul-items li .btn-more {display:none}
    .home .list-box .list-news2 {margin-right:0}
    /*--//End--list-box--*/
    .home .directory {width:100%;padding-right:15px;padding-left: 15px;margin: 0}
    .home .directory .list-img-txt {width:100%;float:left;margin-top:10px;margin-left: 0}
    .home .directory .list-img-txt li {width:47%;margin-left: 0}
    .home .directory .list-img-txt li:nth-child(2n) {float: right}
    .home .directory .btn,
    .home .directory .title .btn-more{display: none}
    /*--//End--list-box--*/
    .home .data-down {width:100%;padding-right:15px;padding-left: 15px;margin: 0}
    .home .data-down .title{margin-top:10px;margin-bottom:10px}
    .home .data-down .title .btn-more{display:none}
    .home .data-down .list-table{width:100%;margin-left:0}
    .home .data-down .list-table li{width:32%;margin-left:0}
    .home .data-down .list-table li:nth-child(2){margin-left:2%;margin-right:2%}
    .home .data-down .list-table li:last-child{display:none}
    /*--//End--data-down--*/
    .home .slider-right{width:100%;padding:0 15px;border-bottom:1px solid #e8e8e8;float:left;margin-top:10px}
    .home .slider-right .part {border-bottom: 1px solid #e5e5e5}
    .home .slider-right .part .title{margin-bottom:10px;margin-top:10px}
    .home .slider-right .part .ul-list li{width:48%;margin-bottom:20px}
    .home .slider-right .part .ul-list li:last-child{float:right}
    .home .slider-right .part .ul-list-btn li {width:48%}
    .home .slider-right .part .ul-list-btn li:nth-child(2n) {float: right}
    .home .slider-right .part .ul-list-btn li a {margin-bottom:14px}
    /*--//End--slider-right--*/
    .footer {font-size:1rem}
    .footer .links,
    .footer .frlinks {display: none}
    /*--//End--footer--*/
    .home-list .slide-left{width:100%;padding:0 15px}
    .home-list .slide-left .nav-list{padding:15px 0;border-right:0}
    .home-list .slide-left .nav-list-ul .title{display:none}
    .home-list .slide-left .nav-list-ul .items a{line-height:40px;background:#fafafa;border:1px solid #c8c8c8;margin-top:-1px;color:#080808;font-size:13px}
    .home-list .slide-left .nav-list-ul li.active a {background:#b4361c;color:#fff;line-height:42px;}
    /*--//End--slide-left--*/
    .title-hide{display:none}
    .home-list .slide-right{width:100%;padding:15px 15px 60px 15px}
    .home-list .slide-right .title {font-size:14px;padding:15px 0;}
    .home-list .slide-right .title-show {font-size:14px;}
    .home-list .slide-right .div-list-ul li{width:100%;margin-top:25px;padding-left:0;padding-right:15px;}
    .home-list .slide-right .div-list-ul li p{padding-left:0;padding-right:0}
    .home-list .slide-right .div-list-ul li strong em{font-size:14px;position:relative;left:0;float:left}
    .home-list .slide-right .div-list-ul li strong{font-size:14px;margin-bottom:5px}
    .home-list .slide-right .div-list-ul li p:nth-child(2){height:96px;overflow:hidden}
    .news .slide-right .div-list-ul {padding:0;}
    .news .slide-right .div-list-ul li{width:100%;margin-top:10px;padding-left:0;padding-right:0;}
    .news .slide-right .div-list-ul li a{width:100%;padding-right:76px;box-sizing:border-box;}
    /*--//End--*/
    .pages{display:none}

}


































































