@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,img,input,a,p,strong,em,i{margin:0;padding:0;border:0;list-style:none;font-family:"Microsoft YaHei"}
strong,b {font-weight:normal}
img {border:0}
ul,dl{list-style:none}
a {outline:none;cursor:pointer}
a:hover{text-decoration: underline}
/*--reset--*/
.wh1 {width:100%;float: left;margin-bottom: 27px;}
/*//End--commmon*/
.hd{overflow: hidden}
/*购物车页面*/
.efeiyi-cart{margin: 70px auto 0;overflow: hidden;min-height: 580px;}
.efeiyi-cart .title table {width:1000px;margin: 0 auto;}
.efeiyi-cart .title table td {line-height:40px;text-align: left;font-size: 12px;color:#666;font-family: "宋体";font-weight: normal}
.efeiyi-cart .wh1 {width:100%;float: left;margin-bottom: 27px;min-height: 700px;}
.efeiyi-cart .title table td label{font-size: 12px;color:#666;font-family: "宋体";font-weight: normal;line-height: 12px;}
.efeiyi-cart .active-box{padding-left: 16px;}
.efeiyi-cart input[type="checkbox"]{vertical-align: middle;width: 12px;height: 12px;border: 1px solid #ccc;}
.efeiyi-cart .middle-active{vertical-align: middle;width: 12px;height: 12px; }
.efeiyi-cart .bd-gwc{border: 1px solid #ccc;}
.efeiyi-cart .pd-gwc{margin-top: 20px;}
.efeiyi-cart .cols1 img {  width:78px;  float: left;border: 1px solid #ccc;text-align: center;margin: 20px 0;}
.efeiyi-cart .info {width:300px;  float: left;padding:22px 0 40px 10px;}
.efeiyi-cart .info p{font-size: 12px;font-family: "宋体";line-height:20px;}
.efeiyi-cart .info a{font-size: 12px;color:#666;font-family:  "宋体";font-weight: normal;outline: none;}
.efeiyi-cart .moneycl{color: #ff0000;}
.cart-center{width: 39px;height: 25px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;float: left;padding: 4px 9px;font-size: 12px;color:#666;font-family:  "宋体";
text-align: center}
.efeiyi-cart .cart-btn-left{width: 25px;height: 25px;border: 1px solid #ccc;float: left;line-height: 25px;text-align: center;font-size: 12px;color:#666;font-family:  "宋体";}
.efeiyi-cart .cart-btn-left:hover{text-decoration: none;}
.efeiyi-cart .cart-btn-right{width: 25px;height: 25px;border: 1px solid #ccc;float: left;line-height: 25px;text-align: center;font-size: 12px;color:#666;font-family:  "宋体";}
.efeiyi-cart  .cart-btn-right:hover{text-decoration: none;}
.efeiyi-cart  span p{line-height: 22px;}
.efeiyi-cart  span p a{font-size: 12px;color:#003366;font-family:  "宋体";font-weight: normal;outline: none;}
.efeiyi-cart .control-pd{margin: 20px auto 0;height: 25px;width: 95px;}
.efeiyi-cart .control-cl{line-height: 25px;color: #ff0000;text-align: center}
.efeiyi-cart .settle{margin:30px auto 0px;}
.efeiyi-cart a.btn-settle{width: 126px;height: 43px;border: 1px solid #000;display: block;background: #fff;text-align: center;color: #000}
.efeiyi-cart a.btn-settle:hover{background: #000;color: #fff;transition: all 0.5s;text-decoration: none}
.efeiyi-cart .settle-hd{height: 68px;}
.efeiyi-cart .settle .settle-cll{color:#003366;}
/*购物车缺货页面*/
.oss{width: 1000px;height: 85px;margin: 70px auto 0;border: 1px solid #ccc;text-align: center;line-height: 70px;}
.oss span{font-size: 14px;color:#ff0000;}
/*购物车空页面*/
.null-shop{position: relative}
.cart-null{width: 1000px;height: 282px;margin: 0 auto;}
.efeiyi-null{min-height: 580px;}
.null-shop{width: 411px;height:  120px;margin:87px 0 0 294px;}
.null-shop p{font-size: 16px;padding-left: 70px;height: 76px;line-height: 76px;}
.null-shop span{text-align: center}
.null-shop span a{outline: none;width: 122px;height: 43px;border: 1px solid #000;display: block;line-height: 43px;margin: 0 auto}
.null-shop span a:hover{text-decoration: none;color: #fff;background-color: #000;}
.null-shop .bg-cart{background: url("../images/efeiyi-gwc.png") no-repeat left center;width: 57px;height: 47px;position: absolute; left: 10px;top: 10px;}
/*购物车结算*/
.my-clearing{margin:70px auto 50px;min-height: 550px;width: 1000px;overflow: hidden}
.my-clearing h1{font-size: 16px;color: #000;font-weight: 100;height: 45px;}
.my-clearing .clearing-site{width: 1000px;height: 49px;line-height: 49px;border: 1px solid #ccc;padding:0 43px 0 23px;float: left}
.my-clearing .clearing-site span{font-size: 12px;font-family:  "宋体";}
.my-clearing .clearing-site span a{outline: none;font-size: 12px;font-family:  "宋体";color:#003366;}
.my-clearing .clearing-left{float: left}
.my-clearing .clearing-right{float: right}
.my-clearing .page-clearing{border:1px solid #ccc;width: 1000px;overflow: hidden;margin-top: -1px;float: left;padding:23px 0 22px 44px;}
.my-clearing .page-default{margin-bottom: 22px;overflow: hidden}
.my-clearing .page-default span{font-size: 12px;color: #666;padding-left: 15px;font-family:  "宋体";float: left;line-height: 37px;}
.my-clearing .default-text{text-align:center;margin-right: 34px;float: left;cursor: pointer;background-color:#fff;border: 1px solid #ccc;font-size: 12px;color: #000;position: relative;width:141px;}
.my-clearing .default-text strong{text-align:center;}
.my-clearing .page-default span a:hover{border: 1px solid #000;text-decoration: none;}
.my-clearing .default-active{border:1px solid #000;}
.my-clearing .page-default span a strong{padding-left: 15px;}
.my-clearing .page-default .triangle img{position: absolute;left:121px;top:18px;}
.my-clearing .page-clearing .dj-p{width: 100%;float: left;padding:22px 0 0  15px;}
.my-clearing .triangle-bg{background: url('../images/efeiyi-gwc.png') no-repeat -62px 0;width: 13px;height: 6px;position: absolute;left:53px;top: 5px;}
.my-clearing .page-clearing .dj-p a{float: left;font-size: 12px;color:#003366;position: relative;outline: none;}
.my-clearing .divtop{margin-top: 40px;}
.my-clearing .alipay{text-align:center;margin-right: 34px;float: left;cursor: pointer;padding:10px 44px;background-color:#fff;border: 1px solid #ccc;font-size: 12px;color: #000;position: relative;width:141px;}
.my-clearing .triangle{position: absolute;bottom:0;right:0;background: url("../images/efeiyi-active.png")no-repeat;width: 17px;height: 17px;}
.my-clearing .wechat-active{border: 1px solid #000;text-decoration: none;}
.my-clearing .page-store{height: 70px;line-height: 70px;}
.my-clearing .page-store a{outline:none;font-size: 12px;font-family: "宋体";color: #003366;position: relative;padding-right: 50px;}
.my-clearing .page-inventory{border: 1px solid #ccc;width: 1000px;overflow: hidden;margin-top: -1px;float: left;padding: 23px 0 22px 20px;}
.my-clearing .page-inventory .triangle-bg{background: url('../images/efeiyi-gwc.png') no-repeat -62px 0;width: 13px;height: 6px;position: absolute;left:53px;top: 2px;}
.my-clearing .my-clearing .wh1 {width:100%;float: left;margin-bottom: 27px;min-height: 700px;}
.my-clearing .active-box{padding-left: 16px;}
.my-clearing .middle-active{vertical-align: middle;width: 12px;height: 12px; }
.my-clearing .bd-gwc{border: 1px solid #ccc;}
.my-clearing .pd-gwc{margin-top: 20px;}
.my-clearing .cols1 img {  width:78px;  float: left;border: 1px solid #ccc;text-align: center;margin: 20px 0;}
.my-clearing .info {width:300px;  float: left;padding:22px 0 40px 10px;}
.my-clearing .info p{font-size: 12px;font-family: "宋体";line-height:20px;}
.my-clearing .info a{font-size: 12px;color:#666;font-family:  "宋体";font-weight: normal;outline: none;}
.my-clearing .moneycl{color: #ff0000;}
.my-clearing .page-pdl{padding-left: 25px;}
.my-clearing .page-Commodity td span{font-size:12px;font-family: "宋体";color: #666;}
.my-clearing .page-leaveword{height: 40px;line-height: 40px;}
.my-clearing .page-leaveword label{font-size: 12px;color: #666;font-weight: 100}
.my-clearing .page-leaveword input{font-size: 12px;color: #ccc;padding: 13px 11px;border: 1px solid #ccc;width: 800px;height: 40px;}
.my-clearing .page-leaveword span{font-size: 12px;font-family: Arial;}
/*表单弹出*/
.my-clearing .pop-up{width:696px;border: 1px solid #000;background-color: #fff;position: fixed;left:50%;top:50%;z-index: 9999;
    margin-top: -290px;margin-left:-286px;}
.my-clearing .pop-h{padding-left: 20px;font-size: 14px;color:#000;font-family: "Microsoft YaHei";line-height: 44px;border-bottom:1px solid #000;
    background: #fff;}
.my-clearing .m-form{padding:15px 37px 0;background: #fff;}
.my-clearing .m-form li{height:44px;line-height: 44px;}
.my-clearing .m-form li input{border:1px solid #000;padding: 3px;color:#000;font-size: 12px;font-family: "宋体";}
.my-clearing .m-form li label{width:81px;color:#000;font-size: 12px;font-family: "宋体";font-weight: normal;text-align: right}
.my-clearing .m-form li select{border: 1px solid #000;color:#000;font-size: 14px;font-family: "宋体";padding:4px 13px;}
.my-clearing  .m-form li select option{color:#000;font-size: 12px;font-family: "宋体";}
.my-clearing  .m-form li .cars{width:96px;}
.my-clearing  .m-form li .car1{width:108px;}
.my-clearing  .m-form li .car2{width:142px;}
.my-clearing  .m-form li strong{font-size:10px;color:#666;}
.my-clearing  .m-form li .dj-btn{width: 163px;height:25px;border:1px solid #000;background: #fff;color:#000;font-size: 12px;font-family: "宋体";outline: none;}
.my-clearing  .m-form li .dj-btn:hover{background: #000;color:#fff;transition: all 0.5s;}
.my-clearing .m-form li span{width:145px;height: 25px;border:1px solid #fe0000;color:#fe0000;font-size: 12px;font-family: "宋体";line-height: 25px;
    padding:5px 13px;}
.my-clearing .clase{width: 15px;height:15px;position: absolute;top:15px;right:20px;cursor: pointer;transition: all 0.5s;background: url("../images/efeiyi-icon.png") no-repeat;}
.my-clearing .sh-bg{position: fixed;background: #000;opacity: 0.6;z-index: -1;right: 0;top:0;left: 0;bottom: 0;}
/*表单弹出*/
.my-clearing .System{height: 68px;width: 1000px;border: 1px solid #ccc; float: left;margin-top: 40px;line-height: 68px;}
.my-clearing .System .System-text{width: 350px;height: 40px;float: right}
.my-clearing .System .System-text span{font-size: 12px;font-family: "宋体";color:#000;padding-right: 20px;float: right}
.my-clearing .System .System-text span strong{font-weight: 100;color:#ff0000;}
.my-clearing .System .System-text span a{padding:13px 26px;border: 1px solid #000;font-size: 12px;font-family: "宋体";}
.my-clearing .System .System-text span a:hover{background-color: #000;color:#fff;text-decoration: none}
.my-clearing .sh-bg{position: fixed;background: #000;opacity: 0.6;z-index: -1;right: 0;top:0;left: 0;bottom: 0;}
/*购物成功*/
.success{width: 1000px;overflow: hidden;margin:0 auto;min-height: 700px;}
.success-shop{text-align: center;padding-top:117px;}
.success-shop p{font-size: 16px;height: 43px;}
.success-shop p span{color:#ff0000}
.success-shop p a{color:#f1961a;margin:0 20px 53px;font-size: 12px;font-family: "宋体";text-decoration:underline}
