<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        ">

    <!--<context:component-scan base-package="com.efeiyi.pal"/>-->

    <bean id="associationDataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="poolProperties">
            <bean class="org.apache.tomcat.jdbc.pool.PoolProperties">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="${assConnection.url}"/>
                <property name="username" value="${assConnection.username}"/>
                <property name="password" value="${BSS_ENCRYPT.assConnection.password}"/>
                <property name="validationQuery" value="SELECT 1"/>
                <property name="testWhileIdle" value="true"/>
                <property name="timeBetweenEvictionRunsMillis" value="3600000"/>
                <property name="minEvictableIdleTimeMillis" value="18000000"/>
                <property name="testOnBorrow" value="true"/>
                <property name="maxActive" value="80"/>
                <property name="maxIdle" value="20"/>
                <property name="maxWait" value="2000"/>
                <property name="defaultAutoCommit" value="true"/>
                <property name="removeAbandoned" value="true"/>
                <property name="removeAbandonedTimeout" value="60"/>
            </bean>
        </property>
    </bean>

    <bean id="dynamicDataSource" class="com.efeiyi.association.core.DynamicDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry value-ref="dataSource" key="dataSource"></entry>
                <entry value-ref="associationDataSource" key="associationDataSource"></entry>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="associationDataSource">
        </property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dynamicDataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.query.substitutions">true 'Y', false 'N'</prop>
                <prop key="hibernate.ejb.use_class_enhancer">true</prop>
                <!--<prop key="hibernate.cache.use_second_level_cache">false</prop>-->
                <!--<prop key="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</prop>-->
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.jdbc.batch_size">50</prop>
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.ming800.**.model</value>
                <value>com.efeiyi.**.model</value>
            </list>
        </property>
    </bean>

    <bean id="dataContextHolder"
          class="com.efeiyi.association.core.DatabaseContextHolder" />

    <!--<aop:config>-->
        <!--<aop:aspect id="dataSourceHolderAdviceAspect"-->
                    <!--ref="dataContextHolder">-->
            <!--&lt;!&ndash;<aop:before method="setDataSource" arg-names="dataSource"&ndash;&gt;-->
                       <!--&lt;!&ndash;pointcut="execution(* com.efeiyi.association.controller.*.test(..)) and args(dataSource)" />&ndash;&gt;-->
            <!--<aop:after method="clearDataSource"-->
                       <!--pointcut="execution(* com.efeiyi.association.controller.*.test(..))" />-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

    <tx:annotation-driven/>

    <bean id="protectionDaoHibernate" class="com.efeiyi.association.dao.hibernate.ProtectionDaoHibernate"/>
    <bean id="protectionServiceManager" class="com.efeiyi.association.service.impl.ProtectionServiceManagerImpl"/>

    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--userDao用于spring security-->
    <bean id="userDao" class="com.efeiyi.association.dao.hibernate.UserDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userLoginManager" class="com.efeiyi.association.service.UserLoginManager">
        <property name="userLoginDao" ref="userDao"/>
    </bean>
    <!--<bean id="userManager" class="com.efeiyi.association.service.impl.UserManagerImpl">-->
        <!--<property name="userDao" ref="userDao"/>-->
    <!--</bean>-->
    <bean id="autoSerialManager" class="com.efeiyi.association.autoserial.AutoSerialManagerImpl">
    </bean>
</beans>
