@charset "utf-8";
/* CSS Document */
/*声明*/
body{margin:0;padding:0; font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;border:0;font-size:12px;width:100%}
h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd,input,img{font-size:12px;margin:0;padding:0;list-style:none;border:0;}
a:link,a:visited{color:#000;text-decoration:none; outline:none;}
a:hover{color:#0b3775;}
/*字体样式*/
.wh { width:100%; float: left;}
.hd {width:1000px; margin: 0 auto;}
.Font-type-size-12{font-size:12px;color:#000;}
.Font-type-size-16{font-size:16px;color:#000;}
.Font-type-size-14{font-size:14px;color:#000;}
.Font-type-size-18{font-size:18px;color:#000;}
/*首页-内容样式*/
/*头部样式*/
#header{margin:0 auto; width:1000px;height:35px;padding:21px 0 0 15px;}
#header h1{width:16px;height:15px;margin:0;float:left;font-size: 12px;}
.logov{width:16px;height:15px;}
.printing{width:230px;float:left;height:15px;padding-left:6px;font-size:12px;}
.printing span{padding-left:9px;color:#CD6703;}
.register{width:250px;height:33px;float:right;margin-right:21px;}
.register li{float:right;}
.register-page a{width:62px;height:11px;outline:none;font-size: 12px;}
.register-left a{width:25px;height:10px;margin-left:38px;outline:none;font-size: 12px}
.register-right a{width:25px;height:11px;pdding-left:10px;outline:none;}
/*导航样式*/
#nav{width:1000px; height: 224px;margin:0 auto; position: relative;}
#nav h1{width:105px;height:105px; position: absolute;top:61px; left:66px;}
#nav h1 img{width:105px;height:105px;}
.nav-centent{width:500px;height:14px; position: absolute;bottom:20px; right: 160px;}
.nav-centent li{float:left;padding-left:64px;}
.nav-centent li a:link,.nav-centent li a:visited{color:#000;font-size:14px; font-family:"楷体"; font-weight:300;outline:none;}
.nav-centent li a:hover{color:#ff2120;outline:none;}
#banner1{position:relative;width:100%;margin:0 auto;min-width:1000px;height:266px;}
/*banner*/
#banner{width:100%;height:351px;margin-bottom:37px; position:relative;}
/*tab*/
#tab{width:215px;height:262px;background:#fff;position:absolute;left:25px;z-index:9999}
#tab h1{font-size:18px; font-weight:normal;padding:12px 0 0 17px;margin-bottom:9px;}
#tab p{font-size:12px;color:#333;display:block;height:20px; margin-bottom:0}
.tab-dl{width:215px;height:204px;padding-left:10px;}
.tab-dl dt{width:184px;height:130px;}
.tab-dl dd{width:178px;height:119px;font-size:12px;color:#999;}
#tab span{background:url(../images/logo3.gif) no-repeat 139px 7px;;width:201px;height:18px;padding-left:149px; display:block;font-size:12px;}
/*内容*/
#center{ margin-bottom: 110px;}
.center-1{width:225px;margin-left:54px;float:left;}
.center-2{width:225px;margin-left:91px;float:left;}
.center-3{width:225px;margin-left:91px;float:left;}
.center-1-dt{width:225px;height:154px;}
.center-1-dd{width:225px; float: left; margin-top:12px;}
.center-1-dd a:link,.center-1-dd a:visited{color:#999;font-size:12px;}
.center-1-dd a:hover{color:#0b3775;}
/*尾*/
#footer{width:960px;height:45px;margin:0 auto 50px;text-align: center}
.guild{width:100%;float: left;}
.guild a{display: inline-block;height:30px;margin:0px 20px;}
.efeiyi-url{width:100%;color:#999;margin-bottom:40px;float: left;}
.efeiyi-url a:link,.efeiyi-url a:visited{color:#999;}
#footer ul li a{outline:none}
/*分享*/
body{margin:0;}
dl,dd,dt{margin:0;padding:0;}
a{ text-decoration:none;}
.floating_ck{position:fixed;right:0%;top:54%; z-index:9999;}
@media only screen and (max-width:1200px){
.floating_ck{display:none}
}
.floating_cl{position:fixed;left:25%;top:54%;}
.floating_ck dl dd{position:relative;background-color:#fff;border:solid 1px #000;text-align:center;background-repeat:no-repeat;background-position:center 50%;cursor:pointer;}
.floating_ck dl dd:hover{background-color:#fff;border:solid 1px #000;}
.floating_ck dl dd:hover .floating_left{display:block;}
.quote{width:45px;height:45px;}
.quote span{ text-align:center;}
.qrcord{background:url(../images/logo4.gif) 0 20px;width:45px;height:45px; margin-bottom:2px;line-height:45px;}
.return{background-image:url(../images/logo5.gif);width:45px;height:25px; margin-bottom:12px;}
.floating_ck dd span{color:#000;display:block;padding-top:12px;}
.floating_left{position:absolute;left:-226px;top:-1px;width:226px;height:45px;background-color:#fff;border:solid 1px #000;display:none;padding-right:20px;}
.floating_left-1{position:absolute;left:-170px;top:-1px;width:150px;height:45px;background-color:#fff;border:solid 1px #000;display:none;}
.floating_left a{color:#000;line-height:45px;outline:none;}
.float-a{margin-left:20px;}
.fx-1{background:url(../images/i/fx-1.gif) no-repeat 0 center;width:5px;height:7px;color:#000;line-height:45px;outline:none;}
.floating_ewm{height:130px;top:-39px;}
.floating_ewm i{background-image:url(images/erweima.png);display:block;width:145px;height:145px;margin:auto;margin-top:7px;}
.floating_ewm p{color:#000;margin-top:5px;}
.floating_ewm .qrcord_p01{font-size:12px;line-height:20px;}
.floating_ewm .qrcord_p02{font-size:18px;}
.ThinkChange{background:url(../images/images/img6_03.jpg) no-repeat;width:108px;height:108px;}
/*简介头*/
#page-nav{height:25px; line-height:25px;margin:0 auto;padding-left:59px;border-top:1px #000 solid;border-bottom:1px #eee solid}
#page-nav span{width:60px;height:17px;padding-left:15px;background:url(../images/logo6.jpg) no-repeat 5px 5px;}
#page-nav p{display:block;width:100%;height:12px;}
#page-nav a:link,#page-nav a:visited{color:#CDCDCD;}
#page-nav a:hover{color:#0b3775;}
.border-nav{width:100%;height:1px;background:url(../images/logo9.jpg) repeat-x;}
/*简介内容*/
#page-column{padding-left:59px;}
.column-left{width:184px;height:auto;float:left; margin-right: 63px;margin-top:68px;}
.column-right{width:503px;float:left;}
.column-right h1{font-size:14px;line-height:83px;height:83px; font-family:"楷体"; font-weight: bold;; color:#dcbb69;}

/*简介表格*/
.table-bg{ width:507px;height:271px;background: url(../images/table-bg.png) no-repeat;}
.tr1{width:501px;height:3px;}
.tr1 td{height:3px;}
.tr2{width:501px;height:57px;}
.tr3{height:47px;}
.tr4{height:47px;}
.tr5{height:114px;}
.tr6{height:3px;}
.td-s{ font-family:"楷体"; font-size:12px; color:#cc9900; text-align:center;}
.td-r{font-size:12px; font-family:"宋体";color:#000; resize:none;width:126px;height:84px;border:none; text-align:center;padding:18px 0 0 33px;font-size:12px;color:#666666;}
.tr-q{font-size:12px; font-family:"宋体";color:#666;}
.column-tex1{width:100px;height:14px;padding-left:12px;}
.column-tex2{width:70px;height:14px;padding-left:12px;font-size:14px; font-family:"Microsoft YaHei";color:#666;}
.column-text-p{width:494px;font-size:12px; font-family:"宋体";color:#666; margin-top:36px;}
/*简介大师荣誉*/
#da-shi-rong-yu{width:501px;overflow:hidden;}
#da-shi-rong-yu h1{}
.img-pictures-show{width:501px;;overflow:hidden;}
.one-img-dl-l{width:219px;height:167px;float:left;}
.one-img-dl-l dt{width:195px;height:133px;}
.one-img-dl-l dd{color:#999;font-size:12px; text-align:center;}
.one-img-dl-r{width:219px;height:167px;float:left;padding-left:24px;}
.one-img-dl-r dt{width:195px;height:133px;}
.one-img-dl-r dd{color:#999;font-size:12px; text-align:center;}
/*出版著作*/
#chu-ban-zhu-zuo{width:501px;overflow:hidden;}
#chu-ban-zhu-zuo h1{height:113px;padding-top:73px;line-height:0;}
#chu-ban-zhu-zuo ul{width:501px;height:195px;}
/*#chu-ban-zhu-zuo ul li{width:162px;height:195px;padding-left:33px;float:left;}*/
#chu-ban-zhu-zuo ul li{width:auto;height:195px;padding-right:33px;float:left;}
/*艺术年表*/
#yi-shu-nian-biao{width:501px;overflow:hidden; margin-bottom:110px;}
#yi-shu-nian-biao h1{width:100%; float: left;}
.year-container{width:502px; overflow:hidden;}
.text-size-color{font-size:12px;color:#666;font-family:"宋体"; line-height:22px;}
.text-padding{padding-top:35px;}
.text-line{font-size:12px; font-family:"宋体"; color:#666; line-height:20px;}
/*按钮*/
.buttom-text{padding-left:57px;margin-top:50px;}
.buttom-text p{width:70px;height:38px;text-align:center;}
.buttom-text p a:link,.buttom-text p a:visited{color:#666; font-family:"楷体";font-size:12px; text-decoration:none;}
.buttom-text p a:hover{color:#ff2120}
/*咨询页*/
#center--1{ float: left; margin-top: 68px;}
.center-buttom{width:210px; overflow:hidden; float:left;}
.center-buttom h1{width:101px;height:27px;color:#CCC; font-size:12px; font-family:"宋体"}
.buttom-zx{overflow:hidden;}
.buttom-zx-tr{height:46px;}
#zpxq-1{color:#CDCDCD;}
/*咨询详情页*/
h5{width:627px;height:97px; line-height:97px;color:#242424;font-size:20px; font-family:"微软雅黑"; font-weight:300;}
#page-column-1{padding:0 75px;width:629px; overflow:hidden; margin:0 auto;}
.page-column-1-q{margin:0 auto;}
#page-column-1 .p { margin-bottom:20px;}
.p{ color:#999; font-size:12px; font-family:"宋体";background:url(../images/logo18.jpg) repeat-x 0 bottom;}
.column-text-page{color:#333; font-size:12px; font-family:"宋体"; line-height:24px;}
/*按钮1*/
.buttom-zx-td-1{width:100%;height:46px; text-align:center; line-height:46px; float:left;}
.center-right {float: left;overflow:hidden; margin-bottom:110px;}
.buttom-zx-td-left{width:2px;height:45px; background:url(../images/logo11.jpg) repeat-y;float:left;}
.buttom-zx-td-border-1{width:100%;height:2px;background:url(../images/logo12.jpg) repeat-x;}
.buttom-zx-td-center{width:100%;height:45px; float:left;}
.buttom-zx-td-center-1{width:100%;height:41px; line-height:41px; text-align:center;color:#cc9900;}
.buttom-zx-td-center-1 a:link,.buttom-zx-td-center-1 a:visited{font-size:14px;font-family:"宋体";color:#cc9900;background:#fff;width:87px;height:41px; display:block;outline:none;}
.buttom-zx-td-center-1 a:hover{color:#FFF;background-color:#cc9900;}
.buttom-zx-td-border-2{width:87px;height:2px;background:url(../images/logo13.jpg) repeat-x;}
.buttom-zx-td-right{width:2px;height:45px; background:url(../images/logo14.jpg) repeat-y; float:left;}
/*按钮2*/
.buttom-zx-td-2{width:100%;height:46px; text-align:center; line-height:46px; float:left;margin-left:7px;}
.buttom-zx-td-2 .buttom-zx-td-left{width:2px;height:45px; background:url(../images/logo11.jpg) repeat-y;float:left;}
.buttom-zx-td-2 .buttom-zx-td-border-1{width:100%;height:2px;background:url(../images/logo12.jpg) repeat-x;}
.buttom-zx-td-2 .buttom-zx-td-center{width:100%;height:45px; float:left;}
.buttom-zx-td-2 .buttom-zx-td-center-1{width:100%;height:41px; line-height:41px; text-align:center;color:#cc9900;}
.buttom-zx-td-2 .buttom-zx-td-center-1 a:link,.buttom-zx-td-center-1 a:visited{font-size:14px;font-family:"宋体";color:#cc9900;background:#fff;width:97px;height:41px; display:block;outline:none；}
.buttom-zx-td-2 .buttom-zx-td-center-1 a:hover{color:#FFF;background-color:#cc9900;}
.buttom-zx-td-2 .buttom-zx-td-border-2{width:97px;height:2px;background:url(../images/logo13.jpg) repeat-x;}
.buttom-zx-td-2 .buttom-zx-td-right{width:2px;height:45px; background:url(../images/logo14.jpg) repeat-y; float:left;}
/*按钮3*/
.buttom-zx-tr-2{height:100%; margin-top:11px}
.buttom-zx-td-3{width:101px;height:46px; text-align:center; line-height:46px; float:left;}
.buttom-zx-td-3 .buttom-zx-td-left{width:2px;height:45px; background:url(../images/logo11.jpg) repeat-y;float:left;}
.buttom-zx-td-3 .buttom-zx-td-border-1{width:100%;height:2px;background:url(../images/logo12.jpg) repeat-x;}
.buttom-zx-td-3 .buttom-zx-td-center{width:100%;height:45px; float:left;}
.buttom-zx-td-3 .buttom-zx-td-center-1{width:100%;height:41px; line-height:41px; text-align:center;color:#cc9900;}
.buttom-zx-td-3 .buttom-zx-td-center-1 a:link,.buttom-zx-td-center-1 a:visited{font-size:14px;font-family:"宋体";color:#cc9900;background:#fff;width:97px;height:41px; display:block;outline:none；}
.buttom-zx-td-3 .buttom-zx-td-center-1 a:hover{color:#FFF;background-color:#cc9900;}
.buttom-zx-td-3 .buttom-zx-td-border-2{width:97px;height:2px;background:url(../images/logo13.jpg) repeat-x;}
.buttom-zx-td-3 .buttom-zx-td-right{width:2px;height:45px; background:url(../images/logo14.jpg) repeat-y; float:left;}
/*按钮4*/
.buttom-zx-tr-2{height:100%; margin-top:11px}
.buttom-zx-td-4{width:135px;height:46px; text-align:center; line-height:46px; float:left;}
.buttom-zx-td-4 .buttom-zx-td-left{width:2px;height:45px; background:url(../images/logo11.jpg) repeat-y;float:left;}
.buttom-zx-td-4 .buttom-zx-td-border-1{width:100%;height:2px;background:url(../images/logo12.jpg) repeat-x;}
.buttom-zx-td-4 .buttom-zx-td-center{width:100%;height:45px; float:left;}
.buttom-zx-td-4 .buttom-zx-td-center-1{width:100%;height:41px; line-height:41px; text-align:center;color:#cc9900;}
.buttom-zx-td-4 .buttom-zx-td-center-1 a:link,.buttom-zx-td-center-1 a:visited{font-size:14px;font-family:"宋体";color:#cc9900;background:#fff;width:131px;height:41px; display:block;outline:none；}
.buttom-zx-td-4 .buttom-zx-td-center-1 a:hover{color:#FFF;background-color:#cc9900;}
.buttom-zx-td-4 .buttom-zx-td-border-2{width:131px;height:2px;background:url(../images/logo13.jpg) repeat-x;}
.buttom-zx-td-4 .buttom-zx-td-right{width:2px;height:45px; background:url(../images/logo14.jpg) repeat-y; float:left;}
.button{border:1px solid #CC9900;height:45px;font-size:14px;padding:0 26px;background-color:#fff;margin:2px;font-family:宋体;color:#CC9900;}
.button a:link,.butto{font-family:宋体;color:#CC9900;}
.button:active{background-color:#CC9900;color:#fff;margin:2px;padding:0 26px;}
/*列表内容*/
.alllist{width:580px;overflow:hidden;}
.alllist-border{ background:url(../images/logo15.jpg) repeat-x;width:580px;height:1px; margin-top:4px;}
.alllist-content{width:580px; overflow:hidden;}
.alllist-time{float:left;width:77px;height:50px;}
.alllist-time h1{width:77px;height:30px;font-size:20px;color:#CCC; font-family:"宋体";}
.alllist-time p{height:8px;color:#ccc;font-size:12px; font-family:"宋体";width:77px;}
.alllist-xq{width:501px; overflow:hidden;}
.alllist-xq h1 a:link,.alllist-xq h1 a:visited{font-size:20px;color:#333; font-family:"微软雅黑"}
.alllist-xq h1 a:hover{color:#ff2120;}
.alllist-xq p{font-size:12px; font-family:"宋体"; color:#999;margin-top:28px; overflow:hidden;}
.alllist-xq span{width:41px;height:20px;background:url(../images/logo16.gif)  no-repeat 0 center;padding-left:12px;float:right;}
.alllist-xq span a:link,.alllist-xq span a:visited{color:#242424;font-size:12px;}
.alllist-xq span a:hover{color:#ff2120;}
.page-number{width:98px;height:73px;padding-top:50px;font-size:12px;color:#999;float:right; margin-bottom:170px;}
.page-number a:link,.page-number a:visited{color:#999;font-size:12px;padding:0 6px;outline:none;}
.page-number a:hover{color:#ff2120;}
/*瀑布流*/
.grid-item { width:200px; }
.grid-item--width2 { width:400px; }
.works-img{width:154px;height:266px;float:left;margin-right: 40px;overflow: hidden;}
.works-img img {width:100%;height:225px;}
.works-img p{ font-size:12px;color:#242424;width:100%; text-align:center;}
.center-buttom-1-or{width:100%; overflow:hidden; margin-bottom:23px;}
.center-buttom-1-or h1{width:101px;height:27px;color:#C90; font-size:12px; font-family:"宋体"}
/*作品详情*/
.center-buttom-1{width:210px;height:10px;float:left;}
.content-border{width:620px; overflow:hidden;}
.right-content{padding:10px 15px 46px 31px;width:620px;}
.right-content-img{width:416px;margin:50px 70px 75px;}
.right-border{height:2px;width:620px;}
.right-content-p{font-szie:12px; font-family:"宋体";color:#242424;overflow:hidden; line-height:22px;}
/*工作坊*/
.video-or-img{width:503px;height:321px;position: relative;top: -35px;}
.video-or-img img{width:503px;height:321px;}
.video-or-img video{width:503px;height:321px;}
.content-img{width:503px; text-align:center; overflow:hidden; margin-bottom:20px;}
.content-text-gzf{width:503px; overflow:hidden;color:#333; font-size:12px; font-family:"宋体"}
/*传承人总页*/
#page-header{width:1000px;height:116px;margin:0 auto;}
.page-header-left{height:116px;width:200px;float:left;}
.page-header-left p{color:#999;font-size:12px; font-family:"微软雅黑"; display:block;margin-top:17px;}
.page-header-right{height:116px;width:200px;float:right; background:url(../images/images/ruzhurexian.gif) no-repeat bottom;}
.page-header-logo{width:117px;height:45px;margin-top:34px;}
.page-header-logo img{width:117px;height:45px;}
.page-header-logo a{outline:none}
/*banne*/
.am-banner-q1{margin:0 auto;max-width:1000px;}
.am-slider-a1 .am-control-nav li a:hover{background: #fff;}
.am-slider-a1 .am-control-nav li a.am-active{border:1px solid #fff;background:rgba(255,255,255,0.00);}
.am-slider-a1 .am-control-nav li a{background:#fff;}
/*传统技艺*/
#page-section{width:870px;overflow:hidden; margin:0 auto;}
.page-section{width:870px;overflow:hidden; margin:0 auto;}
.page-section-text{height:160px;width:870px; text-align:center; line-height:160px;}
.page-section-text img{width:136px;height:27px;margin-top:65px;}
.page-section-text a{outline:none}
.page-section-figure{width:870px;margin-bottom:50px;height:385px;}
/*传承人主页图片交互效果*/
.img-mutual {max-width:250px;height:386px;border:1px solid #000;padding:28px 0 0 25px;margin-right:40px; float:left; margin-bottom:50px;}
.box{width:198px;height:295px;position: relative;}
.BG{width:198px;height:295px;position: absolute;top: 0;background: rgba(60,96,140,0.3);}
/*.txt{width: 198px;height:74px;position: absolute;bottom: 0;color:#fff;background:url(../images/images/tx12.gif) bottom;}*/
.img-mutual h1 {text-align: right;}
.img-mutual .img-mutual-text1 a {color:#fff}
.img-mutual .active .txt {background:#fff;}
.img-mutual .active h1, .img-mutual .active a {color:#000;}

/*传承人主页图片交互效2果*/
.img-mutual{height:386px;border:1px solid #000;position:relative;}
.img-mutual-img{padding:27px 0 0 25px;width:223px;height:322px;}
.img-mutual-img a{width:200px;height:322px; display:block;}
.img-mutual-jump{margin:22px 0 0 135px;padding-left:15px;display:block; background:url(../images/images/bs.gif) no-repeat 0 center}
#img-br{background:rgba(60,96,140,0.6);width:198px;height:295px; position:absolute;top:27px;left:25px;display:none;}
#img-ff{width:198px;height:322px; position:absolute;top:25px;left:25px; display:block;zindex:-9999;}
.img-ff-f{width:198px;height:85px; background:#fff; display:block;margin-top:212px;}
.img-psab{ position:absolute;top:20px;left:0px;top:210px;}
#img-mutual-text{width:170px;height:79px; position:absolute;top:215px;left:17px;color:#fff;}
#img-mutual-text h1{width:160px;height:26px;padding-left:120px;}
#img-mutual-text p{width:165px;height:35px; line-height:25px;}
.img-mutual-text1{width:170px;position:absolute;top:228px;left:17px;color:#fff;}
#img-mutual-text1 h1{width:160px;height:26px;padding-left:120px;}
#img-mutual-text1 p{width:165px;height:35px; line-height:25px;}
/*传承人分线*/
.page-border{margin-top:35px;width:100%;height:1px; background:url(../images/i/wz2-7.gif) repeat-x;}
.page-border-solid{width:100%;margin-top:123px;height:1px;background-color:#000;}
/*传承人尾部*/
.page-footer{width:1000px;margin:0 auto;height:284px;padding:38px 0 0 24px;}
.page-footer-dl{width:73px; overflow:hidden;margin-left:55px;float:left;}
.page-footer-dl dt{ font-family:"微软雅黑";font-size:14px;color:#999;height:42px;width:60px;}
.page-footer-dl dt{ font-size:12px; font-family:"宋体";}
#page-wx-tp{ background:url(../images/images/wx.gif) no-repeat;width:72px;height:132px;}
#page-footer-dl{width:76px;}
.page-bg-text{background-color:#eee;width:100%;height:34px;}
.page-bg-text p{margin:0 auto; text-align:center;}
.page-a-text{color:#000;font-size:12px;text-decoration:none;}
#page-footer-head{height:45px;margin:0 auto; line-height:45px; font-family:"Arial"; text-align:center;}
#page-footer-head-1{ font-family:"宋体";font-size:12px; color:#666;height:21px;text-align:center;}
.a:link,.a:visited{color:#fff;}
/*--//End--*/
#full-screen-slider {height:348px}

/* -- 临时页面头样式--*/
/*--//header--*/
.header-search{width:1000px;margin:0 auto;height:168px;}
.header-search h1{width:126px;height:49px;padding-top:60px;float: left;}
.header-aifeiyi{width:204px;height:97px;background: url("../images/images/header1.png")no-repeat 50px 72px;float: left;padding:60px 0 0 50px;}
.header-sj{width:320px;height:90px;background: url("../images/images/header1.png")no-repeat -154px 72px;float: right;padding-top: 50px;}
/*--//End--*/

/*-- 临时页面尾样式 --*/
.footer{width:100%;height:434px;float: left;padding-top:43px;border-top:1px #000 solid}
.footer .hd{max-width:1000px;margin:0 auto 56px;height:50px;width:100%;}
.footer .hd li{padding-left: 14px;width: auto;}
.footer .hd li strong{font-weight:bold;font-size: 18px;}
.footer .hd li a{font-size:12px;color:#666;font-family: "宋体";}
.footer .hd li .span{font-size:12px;color:#666;font-family: "宋体";}
.footer-bottom{width:100%;background-color:#eee;height: 177px; }
.imgbg{margin:0 auto 56px;height:75px;width: 1000px;}
.imgbg li{float:left;}
.imgbg .li-img1{width: 290px;height:62px;background: url("../images/images/header1.png") 0px -24px;margin-left: 100px;}
.imgbg .span{margin:0 25px;background: url("../images/images/header1.png") 332px -95px;width:2px;height:58px;display: block;float:left;}
.imgbg .li-img2,.imgbg .li-img2 a{width:206px;height:66px;background: url("../images/images/header1.png") 211px -18px;float:left;}
.imgbg .li-img3{width:144px;height:71px;background: url("../images/images/header1.png") 505px -89px;}
.footer-bottom p{line-height: 24px;text-align: center;font-size:12px;color:#666;font-family: "宋体";}
.correlation{height:59px;margin:0 auto;width:660px;}
.correlation li{width:110px;height:59px;float:left;line-height: 59px;}
.correlation li a{font-size: 12px;color:#333;font-family: "宋体";}
.Keeponrecord{width:267px;height:32px;margin: 0 auto;padding-top: 18px;}
.Keeponrecord-l{width: 103px;height:32px;float: left;background: url("../images/images/header1.png") 304px -89px;}
.Keeponrecord-r{width: 103px;height:32px;float: right;background: url("../images/images/header1.png") 304px -124px;}
/*--//End--*/
.am-gallery-overlay .am-gallery-title {height:66px;padding:5px;overflow: hidden}
.am-gallery-overlay .am-gallery-title p {width:100%;float:left;height:18px;line-height:18px;overflow: hidden}

/*--//End--*/
.pages .am-pagination>li {color: #000;}
.pages .am-pagination>li a,.pages .am-pagination>li a:hover {background:none;border:0;border-bottom:1px #3f3f3f solid; padding:0; color: #000; cursor: pointer;}
.pages .am-pagination>li.am-active a {border-bottom: 0}
.pages .am-pagination>li a:hover { color: #f00;}
.pages .am-pagination>li.default { }
.pages .am-pagination { margin: 100px 0; float: right;}
/*--End--pages--*/







