<?xml version="1.0" encoding="UTF-8"?>

<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 配置不过滤的资源（静态资源及登录相关） -->
    <http pattern="/scripts/wap/css/signon.css" security="none"/>
    <http pattern="/scripts/wap/upload/gift-1.jpg" security="none"/>
    <http pattern="/**/*.jpeg" security="none"/>
    <http pattern="/scripts/images/jazq2.gif" security="none"/>
    <http pattern="/scripts/images/frlinksimg.png" security="none"/>
    <http pattern="/js/*.js" security="none"/>
    <!--<http auto-config="true">-->
    <!--<intercept-url pattern="/app.jsp" access="ROLE_SERVICE"/>-->
    <!--<intercept-url pattern="/**" access="ROLE_ADMIN"/>-->
    <!--</http>-->
    <!--SSO -->
    <!--<http auto-config="true" entry-point-ref="casEntryPoint" use-expressions="true">-->
    <!--<csrf disabled="true"/>-->

    <!--&lt;!&ndash;<intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"/>&ndash;&gt;-->
    <!--<intercept-url pattern="/yhq.do" access="isAuthenticated()"/>-->
    <!--<intercept-url pattern="/order/saveOrUpdateOrder.do" access="isAuthenticated()"/>-->
    <!--<intercept-url pattern="/order/pay/alipay/callback" access="isAnonymous()"/>-->
    <!--&lt;!&ndash;<intercept-url pattern="/order/pay/wxParam/**" access="isAnonymous()"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<intercept-url pattern="/order/pay/weixin//**" access="isAnonymous()"/>&ndash;&gt;-->
    <!--<intercept-url pattern="/sso2.do" access="isAuthenticated()"/>-->
    <!--<intercept-url pattern="/order/myEfeiyi/list.do" access="isAuthenticated()"/>-->
    <!--<intercept-url pattern="/order/easyBuy/**" access="isAuthenticated()"/>-->
    <!--<intercept-url pattern="/order/**" access="isAuthenticated()"/>-->
    <!--&lt;!&ndash;<intercept-url pattern="/myEfeiyi/**" access="hasRole('ROLE_USER')"/>&ndash;&gt;-->
    <!--<intercept-url pattern="/j_spring_cas_security_check/**" access="permitAll"/>-->
    <!--&lt;!&ndash; logout-success-url="/login.html" &ndash;&gt;-->
    <!--&lt;!&ndash;        <logout logout-url="/login.do" success-handler-ref="casLogoutSuccessHandler"/>   &ndash;&gt;-->
    <!--<custom-filter ref="requestSingleLogoutFilter" before="LOGOUT_FILTER" />-->
    <!--<custom-filter ref="singleLogoutFilter" before="CAS_FILTER" />-->
    <!--<custom-filter position="CAS_FILTER" ref="casFilter"/>-->

    <!--</http>-->

    <http realm="Contacts Realm" use-expressions="true">
        <csrf disabled="true"/>
        <!--<intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"/>-->
        <intercept-url pattern="/yhq.do" access="isAuthenticated()"/>
        <intercept-url pattern="/order/saveOrUpdateOrder.do" access="isAuthenticated()"/>
        <intercept-url pattern="/order/pay/alipay/callback" access="isAnonymous()"/>
        <!--<intercept-url pattern="/order/pay/wxParam/**" access="isAnonymous()"/>-->
        <!--<intercept-url pattern="/order/pay/weixin//**" access="isAnonymous()"/>-->
        <intercept-url pattern="/sso2.do" access="isAuthenticated()"/>
        <intercept-url pattern="/order/myEfeiyi/list.do" access="isAuthenticated()"/>
        <intercept-url pattern="/order/easyBuy/**" access="isAuthenticated()"/>
        <intercept-url pattern="/order/**" access="isAuthenticated()"/>
        <intercept-url pattern="/purchaseCollect/**" access="isAuthenticated()"/>
        <intercept-url pattern="/comment/**" access="isAuthenticated()"/>
        <intercept-url pattern="/myEfeiyi/**" access="isAuthenticated()"/>
        <!--<intercept-url pattern="/myEfeiyi/**" access="hasRole('ROLE_USER')"/>-->
        <!--<intercept-url pattern="/j_spring_cas_security_check/**" access="permitAll"/>-->

        <!--<anonymous key="cookie_key" username="ananoymous" granted-authority="anonymous,ROLE_ANONYMOUS"/>-->
        <form-login login-page="/login" login-processing-url="/j_spring_security_check"
                    authentication-success-handler-ref="loginSuccessHandler"
                    authentication-failure-handler-ref="loginFailureHandler"/>
        <logout invalidate-session="true" logout-url="/j_spring_security_logout"
                success-handler-ref="loginOutSuccessHandler"/>
    </http>
    <b:bean id="loginOutSuccessHandler" class="com.efeiyi.ec.website.organization.LoginOutSuccessHandler"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userManager">
            <password-encoder hash="sha"/>
        </authentication-provider>
    </authentication-manager>

</b:beans>
