@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, img, input, a, p, strong, em, i {margin:0;padding:0;border:0;list-style:none;font-family:"Microsoft YaHei"}
strong, b, em {font-weight:normal;font-style:normal}
img {border:0}
ul, dl {list-style:none}
a {color:#000;outline:none;cursor:pointer}
a:hover {color:#f00;text-decoration:underline}
/*--reset--.icon {background:url(../images/icon.png) no-repeat}*/
.hd {width:1200px;margin:0 auto}
.wh {width:100%;float:left}
.icon {background:url(../images/icon.png) no-repeat}
.more {font-family:KaiTi;font-weight:bold;font-size:12px;color:#000}
.more .icon {background-position:-18px -50px;width:8px;height:7px;float:left;margin-top:8px;margin-right:2px}
.more:hover .icon {background-position:-26px -50px}
.red {color:red}
/*--//End--common*/
.header {min-width:1200px;border-bottom:3px #000 solid;background:#fff}
.header .logo {padding:15px 0;float:left}
.header .logo a {background-position:0 0;width:307px;height:50px;float:left}
.header .nav ul {float:right;margin-top:15px;margin-right:154px}
.header .nav li {float:left;line-height:68px;position:relative}
.header .nav li a {font-size:14px;color:#000;padding:0 30px;font-weight:bolder;font-family:FangSong;position:relative;z-index:5}
.header .nav li a:hover {color:#f00;text-decoration:underline}
.header .nav li a.cur {color:#f00}
.header .nav li .bgbor {border:1px #fff solid;border-bottom:none;background:#fff;width:112px;height:49px;position:absolute;top:16px;left:0;z-index:4}
.header .nav li.hover>.bgbor a:hover {color:#000;text-decoration:none}
.header .nav li.hover .bgbor {border:1px #000 solid;border-bottom:none;height:55px}
.header .nav-links {width:1158px;padding:30px 20px;border:1px #000 solid;position:absolute;top:70px;left:-648px;box-sizing:content-box;background:#fff;z-index:3;display:none}
.header .nav-links ul {width:105px;float:left;margin:0}
.header .nav-links li {width:100%;line-height:24px;float:left;font-family:FangSong;font-size:12px}
.header .nav-links li a {width:100%;float:left;padding:0;text-decoration:underline}
.header .nav-links li a:hover {color:#f00}
.header .nav-links .title {border-bottom:1px #b2b2b2 solid;color:#999;padding-bottom:5px;margin-bottom:5px}
/*--//End--header--*/
.login-form .icon {height:18px;position:absolute;top:50%;margin-top:-9px;left:10px}
.login-wrap {width:920px;margin:70px 180px;float:left;font-size:12px}
.login-wrap .banner {float:left}
.login-form {width:300px;padding:34px;border:1px #ccc solid;float:right;box-sizing:content-box}
.login-form legend {border-bottom:0}
.login-form .mt {margin-bottom:30px}
.login-form .am-form h1 {font-size:18px;float:left}
.login-form .am-form .link {float:right;margin-top:5px}
.login-form .am-form .link a, .login-form .am-form .link p {font-size:12px;color:#999;float:left}
.login-form .am-form .link a:hover {color:#f00}
.login-form .am-form .link .reg {color:#036;text-decoration:underline}
.login-form .am-form-group {width:100%;line-height:25px;float:left;margin-bottom:20px;position:relative}
.login-form .am-form-group .icon {height:18px;position:absolute;top:50%;margin-top:-9px;left:10px}
.login-form .am-form-group .txt-yzm {width:156px;float:left;margin-right:16px}
.login-form .am-form-group .btn-yzm {width:112px;height:36px;line-height:36px;text-align:center;border:1px #ccc solid;float:left;text-decoration:none;font-family:KaiTi}
.login-form .name {background-position:-68px -50px;width:18px}
.login-form .pwd {background-position:-87px -50px;width:14px;left:12px}
.login-form input[type=text], .login-form input[type=password] {font-size:12px;padding:9px 0 9px 9px}
.login-form input[type=text]:focus, .login-form .am-form input[type=password]:focus {border:1px #000 solid;box-shadow:none}
.login-form label {color:#7b7b7b;font-weight:normal;font-size:12px;margin-bottom: 0}
.login-form .checkbox {float:left}
.login-form .agree {font-size:12px;color:#036}
.login-form .forgetpwd {float:right;color:#036;
    font-size: 12px;}
.login-form .forgetpwd:hover {color:#f00}
.login-form .msg-tips {position:absolute;top:34px;left:0}
.login-form .msg-tips .msg {color:#f00;font-size:10px;transform:scale(0.3)}
.login-form .msg-tips span a {color:#036}
.login-form .am-btn {background:#fff;width:100%;color:#000;border:1px #000 solid;font-size:16px;margin-top:-20px}
.login-form .am-btn:hover {background:#000;color:#fff}
.login-form .coagent {margin-top:20px}
.login-form .coagent h5 {width:100%;color:#666;font-weight:normal;float:left;margin-bottom:15px}
.login-form .coagent .wechat {background-position:-102px -50px;width:26px;height:22px;float:left}
.login-form #username, .login-form #password {padding-left:35px}
.reg-form #username, .reg-form #password {padding-left:10px}
.reg-form .btn-p1{width:112px;height:36px;line-height:36px;text-align:center;border:1px solid #ccc;float:left;text-decoration:none;background:#fff;transition:all 0.5s;
    font-size: 12px;}
.reg-form .btn-p1:hover{background:#000;color:#fff;}
.text1 {font-size:12px;padding:9px 0 9px 9px;border:1px #000 solid;box-shadow:none;background:#fff;}
.textam {width:100%!important;}
.login-reg {width:100%;text-align:center;float:left;padding:50px 0}
.login-reg a {width:40%;line-height:42px;border:1px #000 solid;text-align:center;display:inline-block;margin:0 6px;color:#000}
.login-reg .logined a {width:auto;line-height:36px;border:0}
/*--//End--login-form--*/
.footer {min-width:1200px;border-top:3px #000 solid;font-size:12px;background:#fff}
.footer .icon {background:url(../images/footer-icon.png) no-repeat;display:inline-block}
.footer .service {padding:20px 0;text-align:center;position:relative;}
.footer .service .phone {background-position:0 0;width:225px;height:58px;position:relative;top:5px}
.footer .service .platform {background-position:0 -58px;width:143px;height:51px}
.footer .service .platform a {width:143px;height:51px;line-height:999px;float:left;overflow:hidden}
.footer .service .chengbao {background-position:0 -109px;width:100px;height:45px}
.footer .service .chengbao a {width:137px;height:61px;line-height:999px;float:left;overflow:hidden}
.footer .service .wechat {background-position:0 -155px;width:73px;height:53px;position:relative;top:5px}
.footer .service .wechat .icon {background:url(../images/fwechat.png) no-repeat;width:215px;height:220px;position:absolute;top:-145px;left:-4px;display:none;}
.footer .service .line {width:2px;height:42px;display:inline-block;margin:0 30px;background:#c1c1c1}
.footer .links {background:#000;height:16px;line-height:16px;text-align:center;padding:15px 0}
.footer .links a {margin:0 10px;display:inline-block;box-sizing:content-box;color:#fff}
.footer .links a.line {width:1px;height:10px;background:#b3b3b3;top:2px;position:relative}
.footer .links a:hover {color:#f00;text-decoration:underline}
.footer .copyright {background:#000;padding:15px 0;text-align:center}
.footer .copyright .phone strong, .footer .copyright .phone em {font-style:italic;font-weight:bold;letter-spacing:5px;font-size:12px;color:#666}
.footer .copyright .phone em {font-size:18px}
.footer .copyright .frlinks {margin:10px 0}
.footer .copyright .frlinks a {color:#666;margin:0 5px;display:inline-block}
.footer .copyright .frlinks span, .footer .copyright .info {color:#666}
.thickframe {position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;border:0;display:none}
.thickframe .thickdiv {position:fixed;top:0;left:0;z-index:101;width:100%;height:100%;background:#000;border:0;filter:alpha(opacity =60);opacity:.6}
.thickframe .thickbox {width:1000px;height:500px;position:fixed;top:50%;margin-top:-250px;left:50%;margin-left:-500px;z-index:102;overflow:hidden;padding:0;border:4px solid rgba(0, 0, 0, 0.1);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#fff}
.thickframe .thicktitle {height:27px;padding:0 10px;border:solid #C4C4C4;border-width:1px 1px 0;background:#F3F3F3;line-height:27px;font-family:arial, "\5b8b\4f53";font-size:14px;font-weight:bold;color:#333}
.thickframe .thickcon {overflow:auto;background:#fff;border:1px solid #C4C4C4;padding:10px}
.thickframe #protocol-con{height:356px;overflow:auto;padding:10px 20px 0 10px;font-size:12px}
.thickframe #protocol-con h3 {font-size:14px;line-height:40px}
.thickframe #protocol-con h4 {line-height:30px}
.thickframe #protocol-con p {line-height:20px}
.thickframe .thickcon .btnt{width:322px;margin:20px auto 0}
.thickframe .thickcon .btnt .btn-img{width:322px;height:34px;line-heiht:34px;background:#e4393c;color:#FFF;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-family:SimSun;font-size:16px;font-weight:800}
.thickframe .thickclose:link {display:block;position:absolute;z-index:100000;top:7px;right:12px;overflow:hidden;width:15px;height:15px;background-position:-276px -50px;font-size:0;line-height:100px}
.title {font-size:16px;font-weight:bold;border-bottom:2px solid #247ba0;}
.am-nav-tabs > li.am-active > a,
.am-nav-tabs > li.am-active > a:hover,
.am-nav-tabs > li.am-active > a:focus {color:#555;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent;cursor:default;background-color:#8cc5fb;color:white;}
.am-active {background-color:#8cc5fb;}
/*--//End--footer*/
a, .ul-item li, .ul-item li img, .imgfilter {-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s}
.imgfilter:hover {opacity:0.6;filter:alpha(opacity=60)}
.more:hover, .footer .copyright .frlinks a:hover, .shop-sort .link2 dd a:hover {color:#f00;text-decoration:underline}
.login-form .mt {margin-bottom:30px}
.login-form h1 {font-size:18px;float:left}
.login-form .link {float:right;margin-top:5px}
.login-form .link a, .login-form .am-form .link p {font-size:12px;color:#999;float:left}
.login-form .link a:hover {color:#f00}
.login-form .link .reg {color:#036;text-decoration:underline}
#login-b li {position:absolute;top:0;left:0;}
#login-b {position:relative;width:490px;height:410px}
.title {font-size:16px;font-weight:bold;border-bottom:2px solid #247ba0;}
.am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:hover, .am-nav-tabs > li.am-active > a:focus {color:#555;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent;cursor:default;background-color:#8cc5fb;color:white;}
.am-active {background-color:#8cc5fb;}
/*--//End--transition*/
.dialog-login .content {
    width:806px;
    height: 468px;
    background: #fff;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top:-234px;
    margin-left: -403px;
    z-index:2;
}
.dialog-login .content .icon-close {
    background:url(../images/login.png) no-repeat 0 0;
    width: 31px;
    height: 29px;
    position:absolute;
    top:10px;
    right:-51px;
    z-index: 2;
}
.dialog-login .overbg {
    width:100%;
    hight:100%;
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.dialog-login .login-form {
    border: 0;
    margin-top:20px;
    padding-right:50px;
}



.dialog-login fieldset {
    padding: 0;}
.dialog-login .reg-form {
    float: left;
    border:0;
    margin-top: 0;
    padding-right: 0;
}
.dialog-login .reg-form label {
    font-size:12px;
}

.dialog-login .reg-form input[type=text],
.dialog-login .reg-form input[type=password] {line-height: 35px;
    padding:0 10px;}

.dialog-login .reg-form .am-form-group .txt-yzm {
    width: 180px;
    margin-right:0;

}
.dialog-login .reg-form .btn-p1 {
    height:37px;
    line-height: 35px;
    float: right;}

.dialog-login .line {
    width:1px;
    height:304px;
    background: #ccc;
    position: absolute;
    top:109px;
    left:50%;
}






/*--//End*/
@media (max-height:720px) {
    .login-wrap {height:564px}
}