<?xml version="1.0" encoding="UTF-8"?>

<menus>
    <jmenuTree name="main">
        <item name="favorite" label=" " father="" url="/pc/consumerMenu/xm.do?qm=plistFavoriteScene_default"/>

    </jmenuTree>
    <jmenuTree name="consumer">

        <item name="myOrder" label="" father=" " url="/pc/consumerMenu/xm.do?qm=plistPCPurchaseOrder_default"/>

    </jmenuTree>
    <jmenuTree name="photographer">
        <item name="myOrder" label=" " father=" "
              url="/pc/photographerMenu/xm.do?qm=plistPCPhotographerPurchaseOrder_default"/>
    </jmenuTree>
</menus>
