/* Write your styles */
ul {list-style:none;}
.am-header {padding: 0;}
.am-header-default {background:#fff;}
.am-header-left a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-10px;
    width: 15px;
    height: 15px;
    border: 1px solid #354558;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(130deg) translate(-50%, 0);
}
.am-header-default .am-header-title, .am-header-default .am-header-nav {color:#354558;}
.am-header-default:after {content:"";background: url(../images/header-line.png) 0 0; width:100%;height:1px;background-size:100%;position:absolute;top:49px;left: 0;}
.am-slider-a1 {margin:30px 0;box-shadow:none}
.am-slider-a1 .am-control-nav {margin-left:-30px;}
.am-slider-a1 .am-control-nav li a {width:10px;height:10px;border:1px #fff solid;border-radius:50%;background:transparent;}
.am-slider-a1 .am-control-nav li a.am-active {background:#fff;box-shadow:none}
.am-slider {padding:0 30px;}
/*--//End--*/
.cuslist {margin:0 30px;}
.cuslist li {border: 0;color:#354558;margin-bottom:15px;position: relative;background:transparent;}
.cuslist .am-list-info {font-size: 1rem;font-weight: normal;position: absolute;top:0;left: 0;line-height:20px;}
.cuslist .am-list-info2 {width:100%;font-size: 1.2rem;float: right;font-weight: bold;padding-left:56px;}
/*--//End--*/
.am-header .am-header-title {margin:0;}
.bgf7 {background:#f7f7f7;}
/*--//End--*/
.eslite {width:100%;padding:0 22px;}
.am-paragraph-default {background: #fff;width:100%;margin: 0;float: left;margin-top:10px;box-sizing: border-box;color:#354558;}
.am-paragraph-default img {border: 0;width:28%;padding:23px 0;}
.am-paragraph-default .tips {width:100%;padding:10px 0;text-align:center;display: block;font-size: 1.4rem;background:url(../images/titlebg1.jpg) no-repeat 0 0;background-size:100% 100%;font-weight:bold;}
.am-paragraph-default .title {width:100%;text-align: center;font-size:1.4rem;padding:15px 0;}
.am-paragraph-default .infolist ul{width:100%;float: left;margin:0;padding:0 20px;}
.am-paragraph-default .infolist li {width:100%;float: left;margin-bottom:10px;font-size: 1.2rem;position: relative;}
.am-paragraph-default .infolist p {width:100%;padding-left:56px;float: right;margin: 0;}
.am-paragraph-default .infolist strong {position:absolute;top:0;left:0;}
.am-paragraph-default .infoitem ul{width:100%;float: left;margin:0;padding:0;}
.am-paragraph-default .infoitem li {}
.am-paragraph-default .infoitem li a {width:100%;padding:0 20px;float:left;line-height:32px;position: relative;border-bottom: 1px solid #f2f2f2;box-sizing: border-box;color:#354558;font-size:1.2rem;}
.am-paragraph-default .infoitem li a:after {
    content: "";
    position: absolute;
    top: 50%;
    right:10px;
    margin-top:-6px;
    width: 12px;
    height: 12px;
    border: 1px solid #f2f2f2;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(-45deg);
}
.eslite .am-list-news-ft a {width:60%;background: #ee7700;color: #fff;border: 0;border-radius:4px;margin:20px ;}


