@charset "utf-8";
fieldset{pading:0;margin: 0;list-style:none; }
.single-sign-on{width: 100%;float:left;}
.single-sign-on .login{width: 100%;float:left;}
.single-sign-on .login .login-wrap{width: 100%;float:left;}
.single-sign-on .login-form{width: 100%;float:left;}
.single-sign-on .bk{width: 100%;float:left;padding: 2rem 1.9rem 0 1.9rem;}
.single-sign-on .bk .ld{width: 100%;float: left;border: 1px solid #cbcccc;padding: 0 1rem}
.single-sign-on .wh{width: 100%;float:left;}
.single-sign-on .wh .link{float: right;margin-right: 1rem}
.single-sign-on .wh .link a{color: #003366;font-size: 1rem;}
.single-sign-on .am-form-group{width: 100%;float:left;margin: 0}
.single-sign-on .am-form-group label{width: 100%;font-size: 1rem;color: #000;margin-bottom: 1.2rem;}
.single-sign-on .am-form-group .text1{width: 100%;padding:1rem 1.1rem;border: 1px solid #cbcccc;font-size: 1rem;margin-bottom: 1.2rem;}
.single-sign-on .am-form-group img{width: 100%;}
.single-sign-on .warn{width: 20%!important;}
.single-sign-on .forgetpwd{font-size: 1rem;float: right;color: #003366;}
.single-sign-on .am-btn-secondary{height: 3.5rem;width: 100%;border: 1px solid #000;color: #000;background: #fff;margin-bottom: 1.2rem;font-size: 1rem;}
.single-sign-on .am-btn-secondary:active{background-color: #000;color: #fff;}