ol,ul,p,h1,h2,h3,h4,h5,h6{padding: 0;margin:0}
ul{list-style:none;}
.p10 {padding: 10px;}
.bd {width:100%;float: left;}
body {background: #f7f7f7;max-width:640px;margin:0 auto}
/*--//End--common--*/
.img-slider {margin-bottom:0;box-shadow:0 0 0 rgba(0,0,0,.0)}
.img-slider .am-control-nav {bottom:8px;}
.img-slider .am-control-nav li {margin:0 3px;}
.img-slider .am-control-nav li a {background:rgba(230, 230, 230, 0.3);box-shadow:none;}
.img-slider .am-control-nav li a.am-active {background:rgba(230, 230, 230,1);}
/*--//End--轮播图--*/
.craft .list {padding:0 10px;margin-top: 5px;}
.craft .list:last-child {margin-bottom:10px;}
.craft .list .title {line-height:32px;font-size: 14px;}
.craft .list .title:before{content: '';width:5px;height: 5px;background: #f16c39;display: inline-block;position: relative;top:-3px;margin-right: 6px;}
.craft .ul-col-2 li{width:48%;margin-bottom:10px;border:1px solid#d9d9d9;background:#fff;}
.craft .ul-col-2 li:nth-child(odd){float:left;}
.craft .ul-col-2 li:nth-child(even){float:right;}
.craft .ul-col-2 li:nth-last-child(1) {margin-bottom: 0;}
.craft .ul-col-2 li:nth-last-child(2) {margin-bottom: 0;}
.craft .ul-col-2 li img{width:100%;float:left;}
.craft .ul-col-2 li .txt {width:100%;float:left;padding:5px;}
.craft .ul-col-2 li .txt p{width:100%;
    line-height:20px;float: left;color: #000;font-size: 12px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.craft .ul-col-2 li .txt p:nth-child(2),
.craft .ul-col-2 li .txt p:nth-child(3){line-height: 14px;font-size: 10px;color: #999;}
/*--//End--列表*/
.craft .dt {line-height: 19px;font-size: 12px;text-align: center;padding-bottom:16px;background: #fff;}
.craft .dt h1 {line-height: 54px;font-size:14px;font-weight: normal;}
.craft .dt p:nth-child(2){color:#666}
.craft .dt p:nth-child(3) {color:#999}

.craft .tabs {margin: 0;}
.craft .tabs .nav{display:-webkit-flex;display:flex;border-top:1px solid#e6e6e6;border-bottom:1px solid#e6e6e6;background: #fff;}
.craft .tabs .nav li{flex:1;height:45px;line-height:45px;position:relative;padding:0 16px;overflow:hidden;}
.craft .tabs .nav li a{color:#333;font-size:14px;}
.craft .tabs .nav li.am-active:after{content:'';width:100%;height:2px;background:#f16c39;position:relative;top:-28px;left:0;display:inline-block;line-height:2px;}
.craft .tabs .items{border:0;background:#f7f7f7;font-size:12px;line-height:16px;}


/*--//End--详情*/