@charset "utf-8";
/*分类级别地区*/
.dis-q1-tabs .tabs-nav {width:100%;float: left}
.dis-q1-tabs .tabs-nav li {width:33%;line-height:42px;border-top:2px solid #000;border-bottom:2px solid #000;background: #fff;float: left;text-align: center;}
.dis-q1-tabs .tabs-nav li:nth-child(2){border-left:2px solid #000;border-right:2px solid #000;}
.dis-q1-tabs .tabs-nav li:last-child {width:34%;}
.dis-q1-tabs .tabs-nav li.active {background:#000;color: #fff;}
.dis-q1-tabs .tabs-nav li a {color:#000;}
.dis-q1-tabs .tabs-nav-2 {display: none;}
.dis-q1 .site{width: 100%;float: left;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;padding:0 0 .8rem 0rem;}
.dis-q1 .menu-page{border-bottom: 1px solid #ccc;width: 100%;float: left;}
.dis-q1 .list-site{width: 100%;float: left;padding-left: 1.6rem;padding-top: .7rem}
.dis-q1 .list-site li{float: left;margin: 0  .9rem .9rem  0;}
.dis-q1 .list-site li a{padding: 0.9rem 1.6rem;font-size: 1.2rem;border:3px solid #666;color:#666;display: inline-block;transition: all 0.5s; }
.dis-q1 .list-site li a:hover{background: #000;color:#fff; }
.dis-q2 .am-tabs-default .am-tabs-nav>.am-active a{background-color: #000;}
.dis-q2 .am-tabs-default .am-tabs-nav a{background: #fff;}
.dis-q2 [data-am-widget=tabs] .am-tabs-nav li:nth-child(1){border-top:1px solid #000;border-bottom:1px solid #000;border-left: 1px solid #000;}
.dis-q2 [data-am-widget=tabs] .am-tabs-nav li:nth-child(2){border: 1px solid #000;}
.dis-q2 [data-am-widget=tabs] .am-tabs-nav li:nth-child(3){border-top:1px solid #000;border-bottom:1px solid #000;border-right: 1px solid #000;}
.dis-q2 .site{border-bottom: 0;padding: 0;}
.dis-q2 [data-am-widget=tabs]{margin: 0}
.dis-q2 .am-tabs-bd .am-tab-panel.am-active{padding: 1rem 0;}
/*分类级别地区*/
/*大首页*/
.bk-icon{background:url(../images/bk-icon.png) no-repeat -52px 0;background-size:129px auto;width:55px;height:55px;display: inline-block}
.bk-icon1{background:url(../images/bk-icon.png) no-repeat 9px 0;background-size:129px auto;width:55px;height:55px;display: inline-block}
.icon2{background:url(../images/bk-icon.png) no-repeat 9px -60px;background-size:129px auto;width:55px;height:55px;display: inline-block}
/*大首页*/
/*搜索功能页*/
.search-hd{padding: 1rem 0;float: left;width: 100%}
/*搜索功能页*/

/*传统技艺*/
.classify .hot{float: left;width: 100%;}
.classify .hot li{float: left;width: 100%;position: relative;margin-bottom: 1.2rem;}
.classify .hot li img{width: 100%;height: 100%;}
.classify .hot li .hot-poge{  padding: 0.2rem 0.4rem;background: rgba(36,36,36,0.5);color: #fff;display: block;font-family:"Arial";position: absolute;right: 0;top: 0;border-radius: 0.4rem;font-size: 0.9rem;}
/*end传统技艺*/
/*工艺简介*/
.sit-page .sit-suit-head{width: 100%;float: left;padding: 0 1.9rem;}
.sit-page .sit-suit-head .sit-suit-text{padding-left: 10rem;width: 100%;position: relative;margin: 1.4rem 0;float: left}
.sit-page .sit-suit-head .sit-suit-img{width: 8.5rem;height: 8.5rem;position: absolute;top: 0;left: 0;}
.sit-page .sit-suit-head .sit-suit-img img{width: 100%;height: 100%;}
.sit-page .sit-suit-content{width: 100%;float:left;}
.sit-page .sit-suit-content .sit-suit-cgz{width: 100%;float: left;margin-bottom: 1rem;}
.sit-page .sit-suit-content .sit-suit-cgz a{color: #666;font-size: 1.2rem;}
.sit-page .sit-suit-content .sit-suit-cgz .sit-suit-cgz-l{float: left;}
.sit-page .sit-suit-content .sit-suit-cgz .sit-suit-cgz-l a{padding:0.9rem 2rem;border: 1px solid #999;display: inline-block}
.sit-page .sit-suit-content .sit-suit-cgz .sit-suit-cgz-r{float: right;}
.sit-page .sit-suit-content .sit-suit-twz{font-size: 1rem;color: #000;}
.sit-page .sit-suit-nav{border-bottom: 1px solid #000;border-top: 1px solid #000;float: left;width: 100%;height: 4.4rem;line-height: 2.2rem;text-align: center;padding: 1.2rem 0;}
.sit-page .sit-suit-nav a{width: 32.333334%;float: left;font-size: 1.2rem;}
.sit-page .sod-sr{width: 1px;height: 1rem;border-right: 1px solid #000;float: left;margin-top: .6rem;position: absolute;right: 0;top: 25%;}
.sit-page .bz-icon1{width: 18px;height: 18px;background-size:100px auto; background:url(../images/bk-icon.png) no-repeat -113px -244px!important;float: left;margin:10px 0 0  25%;}
.sit-page .bz-icon2{width: 18px;height: 18px;background-size:100px auto; background:url(../images/bk-icon.png) no-repeat -86px -245px;float: left;margin:10px 0 0  25%;}
.sit-page .bz-icon3{width: 18px;height: 18px;background-size:100px auto; background:url(../images/bk-icon.png) no-repeat -140px -243px;float: left;margin:10px 0 0  25%;}
.sit-page .sit-suit-nav em{float: left;color: #000;font-size: 1.2rem;margin-left: 7%;}
.sit-page .suit-bt-q{width: 100%;float: left;padding: 1.4rem;padding-bottom: 0;}
.sit-page .suit-bt-q h5{font-size: 1.8rem;font-family: "Adobe 黑体 Std","思源黑体","Arial";}
.sit-page .suit-bt-q p{font-size: 0.9rem;font-family: "思源黑体","Arial";}
.sit-page .suit-bt-c{float: left;width: 100%;}
.sit-page .suit-bt-c p{color: #000;font-size: 1.2rem;font-family: "思源黑体","Arial";padding:0 0.9rem;margin: 1.4rem 0;width: 100%;float: left}
.sit-page .suit-btc-img{width: 100%;float: left;height: 100%;}
.sit-page .suit-btc-img img{width: 100%;height: 100%;}
.sit-page  .acadl{margin-bottom: 0.9rem}
.sit-page  .acade{margin-bottom: 1.4rem}
.sit-page  .am-tabs-bd .am-tab-panel{padding: 0;}
.sit-page  [data-am-widget=tabs]{margin: 0}
.sit-page .am-tabs-default .am-tabs-nav a{background: #fff;color: #000;font-size: 1.2rem;position: relative;border-top: 1px solid #000;border-bottom: 1px solid #000;}
/*end工艺简介*/
/*传承人简介*/
.inheritor{width: 100%;float: left;border-top:1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;margin-bottom: 1.5rem;padding: 1.4rem 1.9rem;}
.inheritor-text{padding-left: 9.85rem;font-size: 1.2rem;position: relative;width: 100%;float: left;}
.inheritor-text .gz-fd-icon{ padding: 0.45rem 2.2rem;display: block;font-size: 0.75rem;color: #999;border: 1px solid #999;position: absolute;right: 0;top: 0;background: #fff;font-family: "Arial";font-weight: bold;z-index: 99;}
.inheritor-text .gz-fd-img{width: 8.5rem;height: 8.5rem;position: absolute;left: 0;top: 0;}
.inheritor-text .gz-fd-img img{width: 100%;height: 100%;}
.inheritor-text .itor-text-1{margin-bottom: 1rem;}
.inheritor-text .itor-text-2{margin-bottom: 0.8rem;}
.inheritor-text .itor-text-3{margin-bottom: 0.8rem;}
.inheritor-text .itor-text-4{color: #999;}
.vessel-inher{width: 100%;float: left;padding-top: 1.5rem;}
/*end传承人简介*/
/*记忆内容-作品*/
.penel-container{float: left;width: 100%;padding:1.4rem 0 0 1.4rem;}
.penel-container .penel-page{width: 100%;float: left;}
.penel-container .penel-page li{border: 1px solid #f0f0f0;width:49%;float: left;margin-bottom: 1.5rem}
/*.penel-container .penel-page li:nth-child(even){border: 1px solid #f0f0f0;width:49%;float: right;margin-bottom: 1.5rem}*/
.penel-container .penel-page-img{width:100%;}
.penel-container .penel-page-img img{width:100%;height: 100%;display: block}
.penel-container .penel-page-txt{padding: 1.3rem .4rem;width: 100%;display: inline-block;font-size: 1.2rem;color: #000;}
.penel-page-bz{padding:0 0.4rem  1.5rem 0.4rem;width: 100%;display: inline-block;}
.penel-page-bz a:nth-child(odd){float: left;width: 50%;}
.penel-page-bz a:nth-child(even){float: right;width: 50%;}
.penel-page-bz  a em{font-size: 0.9rem;color: #666;float: left;margin-left: 7%;}
.penel-page-bz .s-solid{width: 1px;height: 100%;background: #000;border-right: 1px solid #000;float: left;}
.penel-page-bz .good-1{width: 18px;height: 18px;background-size:100px auto; background:url(../images/bk-icon.png) no-repeat -95px -128px;float: left;}
.penel-page-bz .good-2{width: 18px;height: 18px;background-size:100px auto; background:url(../images/bk-icon.png) no-repeat -123px -128px;float: left;text-align: left;margin-left: 20%;}
.penel-page-bz #pubu{position: relative;}
/*end技艺内容-作品*/
/*技艺内容-作品详情页*/
.work-details{width: 100%;float: left;margin: 0.85rem 0;padding-top: 1.5rem;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.work-details .ptext1{font-size: 1.2rem!important;color: #000;padding:0 1.8rem;margin-bottom: 1.5rem;float: left}
.work-details .ptext2{font-size: 1rem;color: #000;padding:0 1.8rem;margin-bottom: 1.5rem;float: left}
.work-details .pimg1{width: 100%;float: left;margin-bottom: 1.5rem}
.work-details .pimg1 img{width: 100%;height: 100%;}
/*end技艺内容-作品详情页*/
/*技艺内容-作品详情评论*/
.review{width: 100%;float: left;border-top: 1px solid #e5e5e5;}
.review .dialogue{padding: 0 1.8rem;width: 100%;float: left;}
.review .pl-name{padding: 1.3rem 0;width: 100%;float: left;color: #000;font-size: 1.2rem;}
.review  .matter{padding-left: 4.1rem;width: 100%;float: left;position: relative;margin-bottom: 1.3rem;border-bottom: 1px solid #e5e5e5;}
.review  .matter .owner{width: 3rem;height: 3rem;position: absolute;left: 0;top:0;}
.review  .matter .owner img{width: 100%;height: 100%;}
.review  .matter .text-h1{font-size: 1.2rem;color: #000;padding-bottom: 0.8rem;font-weight: bold}
.review  .matter .text-time{color: #999;font-size: 1.2rem;padding-bottom: 0.8rem;}
.review  .matter .text-content a{font-size: 1.2rem;color: #000;}
.review  .matter .owner-good{font-size: 1.2rem;color: #999;float: left;position: absolute;right: 0;top:0;}
.review  .matter .owner-good a{font-size: 1.2rem;color: #999;}
.review .good-1{width: 18px;height: 18px;background-size:100px auto; background:url(../images/bk-icon.png) no-repeat -95px -128px;float: right;}
.review  .matter .owner-good a em{float:right;margin-right: 0.6rem}
.review  .respond{padding: 1.2rem 0;width: 100%;float: left;}
.review  .txt-name a{color:#003366;font-size: 1.2rem;}
.review  .txt-content{font-size: 1.2rem;color: #000;}
.review  .more{text-align: center;float: left;width: 100%;margin-bottom: 1.3rem;}
.review  .more a{font-size: 1.2rem;color: #999;}
.review  .time-1{width: 18px;height: 18px;background:url(../images/bk-icon.png) no-repeat -4px -241px;display: inline-block;margin-right: 0.85rem}
.sit-page .master-works .works-list .list-con{padding: 0;}
/*end技艺内容-作品详情评论*/
/*技艺内容-作品详情悬浮*/
.suspend{position: fixed;bottom: 0;left: 0;width: 100%;z-index: 9999;}
.suspend .great .dynamic-ft{background: #fff;padding: .5rem .3rem;border-top: 1px solid #999;border-bottom: 1px solid #999;}
.suspend .great .dynamic-ft a{width: 24.33333334%!important;text-align: center;}
.suspend .great .dynamic-ft .good-2{margin:2% 0 0 17%!important;}
.suspend .great .dynamic-ft .good-1{margin:2% 0 0 17%!important;}
.suspend .great .dynamic-ft .good-3{margin:2% 0 0 38%!important;}
.suspend .great .dynamic-ft .good-4{width: 18px;height: 18px;background-size:100px auto; background:url(../images/bk-icon.png) no-repeat -180px -128px;float: left;text-align: left;margin:2% 0 0 45%!important;}
.suspend .s-solid{border-right: 1px solid #999!important;}
.suspend .great{width: 100%;padding: 0.1rem 0;background: #fff;float:left}
/*end技艺内容-作品详情悬浮*/
/*商品详情-购买*/
.purchase-inheritor{width:100%;float: left;padding:5rem 1.9rem;}
.purchase-inheritor a{width: 100%;height: 4.2rem;line-height: 4.2rem;text-align: center;border: 1px solid #000;display: block;color: #000;font-size: 1.2rem;}
/*商品详情-购买*/
/*弹出口*/
.pops-up .sit-suit-head{width: 100%;float: left;padding: 0 1.9rem;}
.pops-up .sit-suit-head .sit-suit-text{padding-left: 10rem;width: 100%;position: relative;margin: 1.4rem 0;float: left}
.pops-up .sit-suit-head .sit-suit-img{width: 8.5rem;height: 8.5rem;position: absolute;top: 0;left: 0;}
.pops-up .sit-suit-head .sit-suit-img img{width: 100%;height: 100%;}
.pops-up .sit-suit-content{width: 100%;float:left;}
.pops-up .sit-suit-content .sit-suit-cgz{width: 100%;float: left;margin-bottom: 1rem;}
.pops-up .sit-suit-content .sit-suit-cgz a{color: #666;font-size: 1.2rem;}
.pops-up .sit-suit-content .sit-suit-cgz .sit-suit-cgz-l{float: left;}
.pops-up .sit-suit-content .sit-suit-cgz .sit-suit-cgz-l a{padding:0.9rem 2rem;border: 1px solid #999;display: inline-block}
.pops-up .sit-suit-content .sit-suit-cgz .sit-suit-cgz-r{float: right;}
.pops-up .sit-suit-content .sit-suit-twz{font-size: 1rem;color: #000;}
.pops-up .sit-suit-nav{border-bottom: 1px solid #000;border-top: 1px solid #000;float: left;width: 100%;height: 4.4rem;line-height: 2.2rem;text-align: center;padding: 1.2rem 0;}
.pops-up .sit-suit-nav a{width: 32.333334%;float: left;font-size: 1.2rem;}
.pops-up .sod-sr{width: 1px;height: 1rem;border-right: 1px solid #000;float: left;margin-top: .6rem;position: absolute;right: 0;top: 25%;}
.pops-up .bz-icon1{width: 18px;height: 18px;background-size:100px auto; background:url(../images/bk-icon.png) no-repeat -63px -244px!important;float: left;margin:10px 0 0  25%;}
.pops-up .bz-icon2{width: 18px;height: 18px;background-size:100px auto; background:url(../images/bk-icon.png) no-repeat -165px -245px;float: left;margin:10px 0 0  25%;}
.pops-up .bz-icon3{width: 18px;height: 18px;background-size:100px auto; background:url(../images/bk-icon.png) no-repeat -181px -243px;float: left;margin:10px 0 0  25%;}
.pops-up .sit-suit-nav em{float: left;color: #000;font-size: 1.2rem;margin-left: 7%;}
.pops-up .suit-bt-q{width: 100%;float: left;padding: 1.4rem;padding-bottom: 0;}
.pops-up .suit-bt-q h5{font-size: 1.8rem;font-family: "Adobe 黑体 Std","思源黑体","Arial";}
.pops-up .suit-bt-q p{font-size: 0.9rem;font-family: "思源黑体","Arial";}
.pops-up .suit-bt-c{float: left;width: 100%;}
.pops-up .suit-bt-c p{color: #000;font-size: 1.2rem;font-family: "思源黑体","Arial";padding:0 0.9rem;margin: 1.4rem 0;width: 100%;float: left}
.pops-up .suit-btc-img{width: 100%;float: left;height: 100%;}
.pops-up .suit-btc-img img{width: 100%;height: 100%;}
.pops-up  .acadl{margin-bottom: 0.9rem}
.pops-up  .acade{margin-bottom: 1.4rem}
.pops-up  .am-tabs-bd .am-tab-panel{padding: 0;}
.pops-up  [data-am-widget=tabs]{margin: 0}
.pops-up .am-tabs-default .am-tabs-nav a{background: #fff;color: #000;font-size: 1.2rem;position: relative;border-top: 1px solid #000;border-bottom: 1px solid #000;}
/*弹出口*/
/*120115大师-简介-大师荣誉-出版著作-艺术年表-工作坊*/
.synopsis{padding:1.4rem 1.9rem;width:100%;float: left;}
.synopsis .texp{height: 4.7rem;width: 100%;font-size: 1.2rem;color: #000;overflow: hidden;margin-bottom: 2.3rem;}
.synopsis .unwind{font-size: 1.2rem;color: #666;text-align: right;width: 100%;float: right;position: relative}
.synopsis .unwind span{padding-right:1.9rem; }
.synopsis .texp-active{width: 10px;transform:rotate(45deg);height: 10px;border-right: 1px solid #666;border-bottom: 1px solid #666;position: absolute;right: 0;top: 0.1rem;}
.honor{width: 100%;float: left;padding: 1.4rem 0;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.honor .honor-1{width: 100%;float: left;}
.honor .honor-1-2:nth-child(4){width: 25%;border-top:1px solid #000;border-bottom: 1px solid #000;height: 4.3rem;float: left;line-height: 4.3rem;font-size: 1.2rem;text-align: center}
.honor li{cursor: pointer;width: 25%;border:1px solid #000;height: 4.3rem;float: left;line-height: 4.3rem;font-size: 1.2rem;text-align: center}
.honor li:nth-child(2){border-right-width:0;border-left-width:0}
.honor li:nth-child(3){border-right-width:0;}
.honor .active{background: #000;color: #fff;}
.honor .honor-content{width: 100%;float: left;padding-top: 1.4rem;}
.honor .honor-content .h-c-img{margin-bottom: 1.4rem;width: 100%;float: left}
.honor .honor-content .h-c-img img{width: 100%}
.honor .honor-content p{font-size: 1.2rem;padding: 0 1.9rem;margin-bottom:1.4rem;float: left;width: 100%}
.honor  .tx-q1{margin-bottom: 0!important;padding: 0 1.9rem;font-size: 1.2rem;width: 100%;float:none!important;}
/*120115大师-简介-大师荣誉-出版著作-艺术年表-工作坊*/
/*12011201顶部菜单-消息-关注*/
.pops-up{position: absolute;width: 100%;height: 100%;z-index: 100}
.pops-up .aboud-you{width: 100%;float: left;padding:0.8rem 1.9rem 0 1.9rem;}
.pops-up .aboud-you .list-you{width: 100%;float: left;margin-bottom: 1.4rem;font-size: 1.2rem;color: #000;font-weight: bold}
.pops-up .aboud-you .list-name{width: 100%;font-size: 1.2rem;color: #000;padding-bottom: 0.8rem;float: left;z-index: 301}
.pops-up .aboud-you .list-name li{float: left;width: 100%;padding-bottom: 2.8rem;padding-left: 4.1rem;border-bottom: 1px solid #e5e5e5;position: relative;margin-bottom: 1.2rem}
.pops-up .aboud-you .list-name .name-img{width: 3rem;height: 3rem;position: absolute;top: 0;left: 0;}
.pops-up .aboud-you .list-name .name-img img{width: 100%;height: 100%;}
.pops-up  .more{text-align: center;float: left;width: 100%;margin-bottom: 1.3rem;}
.pops-up  .more a{font-size: 1.2rem;color: #999;}
.pops-up  .time-1{width: 18px;height: 18px;background:url(../images/bk-icon.png) no-repeat -4px -241px;display: inline-block;margin-right: 0.85rem}
#showMessage .bg {background: #000;opacity: 0.5;width: 100%;height: 100%;position: absolute;z-index:1;}

/*12011201顶部菜单-消息-关注*/
/*12011201顶部菜单-消息-评论*/
.discuss{width: 100%;float: left;padding-top: 0.8rem;}
.discuss  .discuss-2{width: 100%;float: left;}
.discuss  .discuss-2 li{border-top:1px solid #e5e5e5;width: 100%;float: left;padding: 1.3rem 1.9rem 0 1.9rem}
.discuss  .review .matter{border-bottom: 0;}
.discuss  .text-h1 a{color: #003366;font-size: 1.2rem;}
/*12011201顶部菜单-消息-评论*/
/*120210分享*/
.share-tip{width: 100%;position: absolute;height: 100%;z-index: 120;}
.share-tip .tip{width: 100%;height: 100%;position: relative}
.share-tip .tip img{width: 100%;}
.share-tip .tip a{padding:2rem;float: left;position: absolute;left: 0;top: 0;z-index: 200}
.bg{background:rgba(0,0,0,0.5);width: 100%;height: 100%;z-index: 119;position: absolute;top: 0}
/*120210分享*/
/*大师动态*/
.suit-st-img img{width: 100%;height: 100%}
/*大师动态*/
/*add评论样式*/
.plwq .am-header{padding: 0 1.6rem}
.plwq .fh{padding:0.75rem 2rem;color: #666;border: 1px solid #999;}
.plwq .qd{padding:0.75rem 2rem;color: #666;border: 1px solid #999;background: #fff;outline: none}
.plwq .custom-header .am-header-nav{margin-top: 0;}
.plwq .talk{padding:1.4rem 1.9rem ;width: 100%;float: left;height: 100%}
.plwq textarea{list-style: none;border: 0;width: 100%;height: 100%;outline: none;resize:none;font-size: 1.2rem;color: #999;}
/*fenxiang*/
.nr-share{width: 149px;height: 52px;position: absolute; bottom:51px;right: 11px;z-index: 200;}
.nr-share .nr-bg{width: 149px;height: 52px;background:url("../images/cyclopedia.png") no-repeat -5px -75px ; }
.nr-share .jiathis_style {height:44px;float:left;padding:0 13px;position:absolute;top:-1px;left:-1px;}
.nr-share  .jiathis_style .jtico {background:url(../images/icon-share.png) no-repeat;width:21px;height:21px!important;margin-left:5px;margin-top:10px}
.nr-share  .jiathis_style .jiathis_txt {line-height:44px!important;color:#fff}
.nr-share  .jiathis_style .jtico_weixin {background-position:0 -21px}
.nr-share  .jiathis_style .jtico_tqq {background-position:-21px -21px;width:22px}
.nr-share .jiathis_style .jtico_tsina {background-position:-43px -21px;width:22px}
.nr-share  .jiathis_style .jtico_cqq {background-position:-65px -21px;width:22px}
.nr-share  .jiathis_style a:hover .jtico_weixin {background-position:0 0}
.nr-share .jiathis_style a:hover .jtico_tqq {background-position:-21px 0;width:22px}
.nr-share  .jiathis_style a:hover .jtico_tsina {background-position:-43px 0}
.nr-share  .jiathis_style a:hover .jtico_cqq {background-position:-65px 0;width:22px}
.nr-share  a:hover {text-decoration:none}
.nr-share  .tab-items {height:44px;float:left;padding-left:20px}
.nr-share  .tab-items li {float:left;padding:0 10px}
.nr-share  .tab-items li a {font-size:14px}
.nr-share  .tab-items li .icon {background-position:-133px -50px;width:10px;height:20px;display:inline-block;position:relative;top:5px;margin-left:10px}
.nr-share  .btns {float:right}
.nr-share  .btns .append {background:#000;color:#fff;padding:0 70px;height:42px;float:right;font-size:14px}
.nr-share  .btns .append .icon {background-position:-143px -50px;width:21px;height:16px;position:relative;top:3px;margin-left:0;margin-right:5px;display:inline-block}
.nr-share  .btns .buy {height:42px;padding:0 48px;float:right;font-size:14px}
.nr-share  .btns .buy:hover {background:#000;color:#fff}


#pubu{width: 100%;float: left}


.custom-header .chevron-right i.active{ border-top: 1px #ccc solid; border-bottom: 1px #ccc solid}