<?xml version="1.0" encoding="UTF-8"?>

<menus>
    <jmenuTree name="main">
        <item name="favorite" label="我的收藏场景" father="" url="/pc/consumerMenu/xm.do?qm=plistFavoriteScene_default"/>

    </jmenuTree>
    <jmenuTree name="consumer">

        <item name="myOrder" label="我的订单" father="交易中心" url="/pc/consumerMenu/xm.do?qm=plistPCPurchaseOrder_default"/>
        <item name="shopCar" label="充值优惠" father="" url="#"/>
        <item name="favoritePhotographer" label="摄影师" father="我的收藏"
              url="/pc/consumerMenu/xm.do?qm=plistFavoritePhotographer_default"/>
        <item name="favoriteDress" label="服装" father="" url="/pc/consumerMenu/xm.do?qm=plistFavoriteDress_default"/>
        <item name="favoriteScene" label="场景" father="" url="/pc/consumerMenu/xm.do?qm=plistFavoriteScene_default"/>
        <item name="favoritePhotoFrame" label="相框" father=""
              url="/pc/consumerMenu/xm.do?qm=plistFavoritePhotoFrame_default"/>
        <item name="myAlbum" label="我的相册" father="我的相册"
              url="/pc/consumerMenu/xm.do?qm=listPCPurchaseOrderAlbum_default"/>
        <item name="modifyUserInfo" label="信息设置" father="个人信息" url="/pc/consumerMenu/formUser.do"/>
        <item name="receiveAddress" label="收货地址" father="" url="/pc/consumerMenu/xm.do?qm=plistReceiveAddress_default"/>
        <item name="modifyPassword" label="修改密码" father="" url="/pc/consumerMenu/modifyPasswordView.do"/>

    </jmenuTree>
    <jmenuTree name="photographer">
        <item name="myOrder" label="我的订单" father="交易中心"
              url="/pc/photographerMenu/xm.do?qm=plistPCPhotographerPurchaseOrder_default"/>
        <item name="myArrangement" label="档期管理" father="" url="/pc/photographerMenu/viewArrangement.do"/>
        <item name="samplePhotoGroup" label="我的作品集" father=""
              url="/pc/photographerMenu/xm.do?qm=listPCSamplePhotoGroup_default"/>
        <item name="orderComment" label="对我的评价" father=""
              url="/pc/photographerMenu/xm.do?qm=plistPurchaseOrderComment_default"/>
        <item name="photographerTypeStyle" label="我的拍摄类型" father="个人信息"
              url="/pc/photographerMenu/photographerTypePriceList.do"/>
        <item name="modifyUserInfo" label="修改信息" father="" url="/pc/photographerMenu/formPhotographer.do"/>
        <item name="modifyPassword" label="修改密码" father="" url="/pc/photographerMenu/modifyPasswordView.do"/>
        <item name="tipsPersonInfo" label="个人信息完善" father="使用说明" url="/pc/photographerMenu/document/tipsPersonInfo"/>
        <item name="tipsPersonManage" label="摄影师个人管理" father="" url="/pc/photographerMenu/document/tipsPersonManage"/>
        <item name="tipsPhotoType" label="拍摄服务价格设置与说明" father="" url="/pc/photographerMenu/document/tipsPhotoType"/>
        <item name="tipsArrangement" label="摄影师档期管理" father="" url="/pc/photographerMenu/document/tipsArrangement"/>
        <item name="tipsLevelsInfo" label="摄影师星级说明" father="" url="/pc/photographerMenu/document/tipsLevelsInfo"/>
        <item name="tipsUpgradeRule" label="摄影师星级升级规则" father="" url="/pc/photographerMenu/document/tipsUpgradeRule"/>
        <item name="tipsRecommendRule" label="摄影作品推荐规则" father="" url="/pc/photographerMenu/document/tipsRecommendRule"/>
    </jmenuTree>
</menus>
