@charset "utf-8";
/*
 *name:工艺
 *time:2016-04-13
 *
*/
//继承 @extend
.fl{
  float: left
}
.wb{
  width: 100%
}
.opacityG{
  opacity: 0.5;
}
.wm{
  width: 1200px;
  margin:  0 auto;
}

//高度垂直方法 @mixin @include
@mixin heightCT($height){
  height:$height ;
  line-height: $height;
}
//文字行高字号颜色
@mixin txtLh($txt,$color){
  font-size: $txt;
  line-height: $txt;
  color: $color;
}
//高度&&宽度的方法
@mixin WH($wd,$hg){
  width: $wd ;
  height: $hg;
}
//宽100%;float:left
@mixin WF(){
  @extend .fl;
  @extend .wb;
}
//宽100%；flaot:left;变量height
@mixin WFG($Bheight){
  @extend .fl;
  @extend .wb;
  height:$Bheight;
}
//过渡动画
@mixin tst($transit){
  transition: all $transit;
  -webkit-transition: all $transit;
  -ms-transition: all $transit;
  -o-transition: all $transit;
  -moz-transition: all $transit;
}
//
/*
 *name:工艺通用头部
 *time:2016-04-13
 *
*/
//工艺pc头部改通用样式
.min-logo{
  @include WH(30px,31px);
  background: url("../images/craft/logo.png");
  margin: 8px 8px 0 0;
  @extend .fl;
}
.bgf{
  background: #fff !important;
  height: 48px;
  border: 1px solid #ececec;
}
.bgc{
  background: #fafafa;
  border-top-width: 0 ;
  border-bottom-width: 0;

}
/*
 *name:工艺通用底部
 *time:2016-04-13
 *
*/
.footer2016{
  @include WF();
  margin-top: 30px;//一会要去掉
  border-top: 3px solid #cdcdcd;
}
/*
 *name:工艺首页
 *time:2016-04-13
 *
*/

//工艺首页列表
.craft-list2016 {
  @extend .wm;
  //每一个列表
  .craft-list {
    @include WF();
    padding-bottom: 50px;

  }
}
/*
 *name:工艺详情
 *time:2016-04-13
 *
*/
.craft-particulars2016{
  @include WF();
  .craft-crumbs{
    @include WF();
    .particulars{
      @extend .wm;
      .crumbs{
        padding: 15px 0 19px 0;
        @include WF();
        a,.link{
          color: #000;
          font-size: 16px;
        }
        a.present,em.present{
          color:#808080;
        }
        em{
          @extend .link;
        }

      }
    }
  }
  .user{
  @include WF();
  background: #fff;
    .skill{
      @extend .wm;
      height: 370px ;
      .page{
        @include WF();
        padding: 60px 0 ;
        position: relative;
        .txt-page{
          @include WF();
            .name{
              @include txtLh(30px,#333);
              @include WF();
              margin-bottom: 30px;
              em{
                @include txtLh(30px,#333);
              }
              a{ @include txtLh(30px,#333);}
            }
            .rank,.area{
              @include txtLh(26px,#333);
              @include WF();
              margin-bottom: 30px;
              em{
                @include txtLh(26px,#333);
              }
              a{
                @include txtLh(26px,#333);
              }
            }
        }
        .pic-page{
          position: absolute;
          right: 0;
          top: 60px;
          @include WH(360px,250px);
            .user-pic{
              @extend .fl;
              width: 160px;
              a{
                img{
                  @include WF();
                  height: 160px;
                }
                .user-txt{
                  border: 1px solid #ccc;
                  border-top-width: 0;
                  @include WF();
                  height: 90px;
                  text-align: center;
                  padding-top: 10px;
                  p{
                    @extend .wb;
                    display: inline-block;
                    margin-bottom: 6px;
                    @include txtLh(14px,#999);
                  }
                  p.name{
                    @include txtLh(16px,#000);
                  }
                }
              }
            }
            .wechat{
              float: right;
              width: 160px;
              img{
                @include WF();
                height: 160px;
              }
              .user-wechat{
                border: 1px solid #ccc;
                border-top-width: 0;
                @include WF();
                height: 90px;
                text-align: center;
                padding-top: 22px;
                p{
                  display: inline-block;
                  @include txtLh(16px,#999);
                  padding: 5px 0;
                }
              }
            }
        }
      }
    }
  }
  .introduce{
    @include WF();
    .craft-introduce{
      @extend .wm;
      .txt{
        @include WF();
        padding-bottom: 80px;
      }
    }
  }


}
/*
 *name:工艺详情
 *time:2016-04-13
 *
*/